.dialog-content {
  display: flex;
}

.dialog-content > * {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  margin-bottom: 1rem;
  min-width: 20rem;
  line-height: 1.8rem;
}

.dialog-content > * > * {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dialog-content > * > * > span:last-child {
  font-weight: bold;
}

.left-section-content {
  padding-right: 2rem;
  border-right: 1px #6c757d dashed;
}

.right-section-content {
  padding-left: 2rem;
}
