<div class="seekClarification-dialog">
    <!-- <img src="/assets/images/checkbox-circle-line.svg" alt="checkbox-circle-line"> -->
    <svg viewBox="0 0 24 24" width="24" height="24">
        <path fill="none" d="M0 0h24v24H0z" />
        <path
            d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16zM11 7h2v2h-2V7zm0 4h2v6h-2v-6z" />
    </svg>
    <p class="seekClarification-id"><b>{{ data.title }}</b></p>
    <br>
    <!-- <p class="seekClarification-msg">First Incidence Report Sending Back for Clarification</p>

    <div class="seekClarification-remark">
        <label for="remark">Remarks<span class="mandatory-field">*</span></label>
        <textarea id="remark" rows="2" placeholder="Enter remarks details" formcontrolname="remarks"
            class="form-control">
            </textarea>
    </div> -->
    <div class="close-btn">
        <button type="submit" mat-dialog-close class="btn btn-primary" (click)="closeDialog()">OK</button>
    </div>
</div>