<div class="campaign-dialog">
  <div class="campaign-msg mb-4">
    <img src="/assets/images/checkbox-circle-line.svg" alt="checkbox-circle-line" />
    <!-- <h1 class="succes-msg">
      <span class="succes-msg-desc">Case ID:</span>{{ data.caseID }}
    </h1> -->
    <h2 class="succes-msg">{{ data.title }}</h2>

    <p class="sd-noti" *ngIf="data.supervisorName">{{"animalTreatmentSurgery.notification_send_to" | translate}} {{
      data.supervisorName }}</p>

    <ng-container *ngIf="data.table_value.length">
      <b class="table-title">{{'diseaseTesting.sample_collected' | translate}}</b>
      <table class="table table-bordered">
        <thead class="thead-default">
          <tr>
            <th>{{ data.table_header.col1 }}</th>
            <th>{{ data.table_header.col2 }}</th>
            <th>{{ data.table_header.col3 }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let value of data.table_value">
            <td>{{ value.testingLocationDesc }}
              <ng-container *ngIf="value.testingLocation == 2 && value.labCdDesc"> ({{value.labCdDesc}})
              </ng-container>
            </td>
            <td>{{ value.sampleId }}</td>
            <td>{{ value.sampleTypeDesc }}</td>
          </tr>
        </tbody>
      </table>
    </ng-container>


  </div>

  <div class="close-button">
    <button type="submit" class="btn btn-primary" (click)="closeDialog()" mat-dialog-close>
      {{'animalDetails.ok' | translate}}
    </button>
  </div>
</div>