input.mat-chip-list-input {
  border: none;
  background-color: #f6f6f9;
}

.sub-title-heading {
  width: 100%;
  float: left;
  padding: 15px;
  font-weight: 600;
}

.hr-space {

  padding: 5px 0px;
  display: block;
  clear: both;
  float: left;
  width: 100%;


}

.date-picker {
  float: right;
  margin-top: -39px;

}

.input-custom-border {
  border: 1px solid #ced4da;
  padding: 0px 5px;
}