<div class="fir-dialog">
    <img src="/assets/images/checkbox-circle-line.svg" alt="checkbox-circle-line">
    <!-- <p class="firSuccess-id"><b></b></p> -->
    <p class="sd-id">OutBreak ID: <b>{{ data.outbreakId }}</b></p>
    <p class="firSuccess-msg">{{ data.title }}</p>
    <div class="firOutbreak">
        <p class="firOutbreak-noti"></p>
        <!-- <p class="firOutbreak-id"><b>{{ data.outbreakId }}</b></p> -->
    </div>


    <div class="close-btn">
        <button type="submit" mat-dialog-close class="btn btn-primary" (click)="closeDialog()">Ok</button>
    </div>
</div>