<div class="overlay" *ngIf="isLoadingSpinner">
    <div class="center">
      <mat-spinner class="center"></mat-spinner>
    </div>
  </div>
  
  <div class="ear-tag-detail">
      <div class="tag-detail-header">
        <div class="heading-section">
          <h2 class="tag-detail-heading">{{data?.title}}</h2>
        </div>
        <!-- <div class="cross-icon">
          <mat-icon mat-dialog-close>clear</mat-icon>
        </div> -->
      </div>
     
      <div class="tag-detail-form" >
        <form [formGroup]="animalForm" (ngSubmit)="submitStatus()">
         <div class="row">
            <div class="col-12">
              <div class="form-row">
                <div class="col-md-6">
                  <div class="form-group ">
                    <label for="tagId" class="label-value"
                      >{{'animalDetails.pregnant'| translate}}<span class="mandatory-field"
                        >*</span
                      ></label
                    >
                    <div class="d-flex justify-content-between">
                      <div class="field-width">
                          <select class="form-control" name="pregnancyStatus" formControlName="pregnancyStatus" [ngClass]="{ 'is-invalid': isFormSubmit && searchInfo?.pregnancyStatus?.errors }">
                            <option [value]="null" >{{'animalDetails.select'| translate}}</option>
                              <!-- <option [value]="reason?.cd" *ngFor="let reason of pregStatus">{{reason?.value}}</option> -->
                              <option [value]="1" >{{'common.yes'| translate}}</option>
                              <option [value]="2" >{{'common.no'| translate}}</option>
                            </select>
                          <div class="alert-message"
                          *ngIf="searchInfo?.pregnancyStatus?.errors?.required && isFormSubmit">
                          {{'errorMsg.field_mandatory' | translate}}
                      </div>
                      </div>
                     
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group ">
                    <label for="tagId" class="label-value"
                      >Miliking Status<span class="mandatory-field"
                        >*</span
                      ></label
                    >
                    <div class="d-flex justify-content-between">
                      <div class="field-width">
                          <select class="form-control" name="milkingStatus" formControlName="milkingStatus" [ngClass]="{ 'is-invalid': isFormSubmit && searchInfo?.milkingStatus?.errors }">
                            <option [value]="null" >Select</option>
                              <option [value]="reason?.cd" *ngFor="let reason of milkingStatus">{{reason?.value}}</option>
                          </select>
                          <div class="alert-message"
                          *ngIf="searchInfo?.milkingStatus?.errors?.required && isFormSubmit">
                          This field is mandatory
                      </div>
                      </div>
                     
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="tagId" class="label-value"
                      >Current Lactation Number<span class="mandatory-field"
                      >*</span></label>
                    <div class="d-flex justify-content-between">
                      <div class="field-width">
                        <input class="form-control" type="text"  formControlName="currentLactationNo" (keyup)="onKey($event)" [ngClass]="{ 'is-invalid': isFormSubmit && searchInfo?.currentLactationNo?.errors }"/>
                        <div class="alert-message"
                                  *ngIf="isLactationNoValid">
                                  Current Lacation Number should be greater than the previous Lacation Number or less then animal age .
                              </div>
                        <div class="alert-message"
                        *ngIf="searchInfo?.currentLactationNo?.errors?.required && isFormSubmit">
                        This field is mandatory
                    </div>
                      </div>
                     
                    </div>
                  </div>
                </div>
              </div>
            </div>
       
          </div>
        
          <div class="d-flex justify-content-left mt-3" >
            <button type="submit" class="btn btn-light mr-2 ml-auto" mat-dialog-close>
              Cancel
            </button>
            <button type="submit" class="btn btn-primary" >
              Save
            </button>
          </div>
        </form>
      </div>
  
    </div>
    