<div class="add-diagnostics-dialog">
  <div class="add-diagnostics-header">
    <div class="headeing">
      <p class="diagnostics-heading-label">{{"animalTreatmentSurgery.update_lab_samples"| translate}}</p>
    </div>
    <div class="cross-icon">
      <mat-icon mat-dialog-close>clear</mat-icon>
    </div>
  </div>
  <div class="h-divider">
    <div class="shadow"></div>
  </div>
  <div class="dialog-main-content">
    <div class="row">
      <div class="align-items-center treatment-information col-md-12">
        <div class="col-12 mt-3 px-0">
          <form [formGroup]="diagnosticsForm">
            <div formArrayName="labTestingDetails" *ngFor="let item of labTestingDetails['controls']; let i = index;">
              <div class="table-outebox my-3" [formGroupName]="i" *ngIf="isSampleShow(item)">
                <span class="font-weight-bold">{{"animalTreatmentSurgery.sample_details"| translate}} :</span>
                {{labTestingDetails['controls'][i]['value']['sampleId']}}
                <div class="w-100 border p-3 mt-2">
                  <div class="row pb-3">
                    <div class="col-md-4 ">
                      <h4 class="font-weight-bold label-header">
                        {{"animalTreatmentSurgery.sample_collection_date"| translate}}
                      </h4>
                      <p>
                        {{labTestingDetails['controls'][i]['value']['sampleCollectionDate']
                        | customDateFormatter}}
                      </p>
                    </div>
                    <div class="col-md-4 ">
                      <h4 class="font-weight-bold label-header">{{"animalTreatmentSurgery.sample_type"| translate}}</h4>
                      <p>
                        {{labTestingDetails['controls'][i]['value']['sampleTypeDesc']}}
                      </p>
                    </div>
                  </div>
                  <ng-container formArrayName="sampleExaminationDetails"
                    *ngFor="let sample of getLabExams(i)['controls'];let index=index">
                    <ng-container [formGroupName]="index" *ngIf="sample['value']['samplingStatus'] ==1">
                      <div class="row pb-3">
                        <div class="w-100 border p-3 m-3">
                          <div class="form-row mb-2">
                            <div class="col-md-4">
                              <div class="form-group">
                                <label for="final">{{"animalTreatmentSurgery.exam_type"| translate}}</label>
                                <p>{{sample['value']['sampleExaminationTypeCdDesc']}}</p>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="form-group">
                                <label for="final">{{"animalTreatmentSurgery.sub_exam_type"| translate}}</label>
                                <p>{{sample['value']['sampleExaminationSubtypeCdDesc']}}</p>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="form-group">
                                <label for="final">{{"animalTreatmentSurgery.lab"| translate}}</label>
                                <p>{{sample['value']['labCdDesc']}}</p>
                              </div>
                            </div>
                          </div>
                          <div class="form-row mb-2">
                            <div class="col-md-4">
                              <div class="form-group">
                                <label for="final">{{"animalTreatmentSurgery.lab_charges"| translate}}</label>
                                <p>{{sample['value']['labCharges']}}</p>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="form-group">
                                <label for="final">{{"animalTreatmentSurgery.receipt_no"| translate}}</label>
                                <p>{{sample['value']['receiptNo']}}</p>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="form-group">
                                <label for="final">{{"animalTreatmentSurgery.mode_of_transport"| translate}}</label>
                                <p>{{sample['value']['modeOfTransportDesc']}}</p>
                              </div>
                            </div>
                          </div>
                          <div class="form-row mb-2">
                            <div class="col-md-4">
                              <div class="form-group">
                                <label for="final">{{"animalTreatmentSurgery.final_reading"| translate}}</label>
                                <input type="text" id="final" class="form-control"
                                  formControlName="finalSampleResultValue" />
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="form-group">
                                <label for="final">{{"animalTreatmentSurgery.results"| translate}}</label>
                                <select class="form-control" formControlName="sampleResult">
                                  <option value="1">{{"animalTreatmentSurgery.positive"| translate}}</option>
                                  <option value="2">{{"animalTreatmentSurgery.negative"| translate}}</option>
                                </select>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </ng-container>
                  </ng-container>
                </div>
                <div class="h-divider">
                  <div class="shadow"></div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="h-divider">
    <div class="shadow"></div>
  </div>
  <div class="add-diagnostics-footer">
    <button type="reset" class="btn btn-light mr-2" (click)="onCancel()">
      {{"animalTreatmentSurgery.cancel"| translate}}
    </button>
    <button type="submit" class="btn btn-primary" (click)="saveLab()">{{"animalDetails.save"| translate}}</button>
  </div>
</div>