.animal-table thead th,
.animal-table td {
  border-top: none;
  border-bottom: none;
  padding: 0.2rem 0.4rem !important;
}
.owner-details-section .owner-detail-table {
  background-color: #eaf0f2;
  padding: 12px 12px 12px 30px;
  position: relative;
}

.owner-details-section .owner-detail-table .back-arrow {
  position: absolute;
  top: 20px;
  left: 12px;
}

.add-milk-sample .input-icon {
  position: relative;
}

.add-milk-sample .input-icon input {
  padding-right: 50px;
}

.add-milk-sample .calender-icon {
  position: absolute;
  top: 29px;
  right: 0px;
}

.add-milk-sample .input-section {
  padding-right: 25px;
  position: relative;
}

.or-label {
  margin-top: 14px;
}

.treatment-header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  padding-left: 1.5rem;
  margin: 10px 0px 20px 0px;
}

@media screen and (max-width: 767px) {
  .treatment-header {
    align-items: start;
  }
}

.treatment-header .back-arrow {
  position: absolute;
  top: 6px;
  left: 2px;
}

.separator {
  display: flex;
  align-items: center;
  width: 100%;
}

.separator .line {
  height: 1px;
  flex: 1;
  background-color: #dcdcdc;
}

.mun-unit {
  position: absolute;
  top: 38px;
  right: 10px;
}

.mun-input{
  padding-right: 80px;
}