.treatment-header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  padding-left: 1.5rem;
  margin: 10px 0px 20px 0px;
}

@media screen and (max-width: 767px) {
  .treatment-header {
    align-items: start;
  }
}

.treatment-header .back-arrow {
  position: absolute;
  top: 6px;
  left: 2px;
}

.new-gm .calender-icon {
  position: absolute;
  top: 29px;
  right: 0px;
}

.new-gm .input-section {
  position: relative;
}

.additional-link {
  text-decoration: underline;
  font-weight: bold;
  cursor: pointer;
}
