<div
  class="container d-flex flex-column align-items-center justify-content-between dialog-container px-4"
>
  <button mat-dialog-close class="close">&#x2715;</button>
  <h1 mat-dialog-title class="py-2">De-allocation Date</h1>
  <div>
    <div>
      <h4 class="muted-label-heading text-center">
        Select the date of de-allocation
      </h4>
    </div>
    <div class="demo-inline-calendar-card">
      <mat-calendar></mat-calendar>
    </div>
    <div mat-dialog-actions class="d-flex justify-content-center">
      <button mat-dialog-close class="btn btn-light mr-2 px-4">Dismiss</button>
      <button mat-dialog-close class="btn btn-dark px-4">Approve</button>
    </div>
  </div>
</div>
