<div class="overlay" *ngIf="isLoadingSpinner">
    <div class="center">
      <mat-spinner class="center"></mat-spinner>
    </div>
  </div>
  <div class="container" *ngIf="!historyDetail">
    <div class="row breadcum align-items-center py-2">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="breadcrumb-list text-md-left">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb m-0">
              <li class="breadcrumb-item active">
                <a>{{'animalDetails.home' | translate}}</a>
              </li>
              <li class="breadcrumb-item active">
                <a href="javascript:void(0)">{{'animalBreeding.breeding_module'|translate}}  </a>
              </li>
              <li class="breadcrumb-item current">
                <a href="javascript:void(0)">{{'animalBreeding.et'|translate}} - {{'animalBreeding.heat_transaction'|translate}}</a>
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>  
<section>
  <div class="row no-gutters col-container">
    <div class="col-md-12 col-h left-section">
      <div class="owner-details-section">
        <div
          class="row owner-detail-table mb-4 mx-0 py-3 align-items-center user-detail"
        >
          <div class="back-arrow">
            <i
              class="fa fa-chevron-left mr-2 back-section"
              (click)="goBack()"
            ></i>
          </div>
          <div class="table-responsive">
            <table class="table animal-table m-0" *ngIf="animalHistoryDetail?.animalResponse">
              <thead>
                <tr>
                  <th>{{'animalDetails.animal_tag_number'|translate}}</th>
                  <th>{{'animalDetails.category_species'|translate}}</th>
                  <th>{{'animalDetails.breed'|translate}}</th>
                  <th>{{'common.age'|translate}}</th>
                  <th>{{'animalBreeding.sync'|translate}}</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{ animalHistoryDetail?.animalResponse?.tagId }}</td>
                  <td>{{ animalHistoryDetail?.animalResponse?.species }}</td>
                  <td>{{ animalHistoryDetail?.animalResponse?.breed }}</td>
                  <td>{{ animalHistoryDetail?.animalResponse?.age }}</td>
                  <td>
                    {{heatType?.length == 1 ? heatType[0]['value'] == 'Induced' ? 'Yes' : 'No': 'No'}}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!-- <div class="title-heading mb-3">
         
        </div> -->
        <div class="row align-items-center mb-2">
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="title-section">
              <div class="title-heading mb-3">
                <h3 class="muted-label-heading" *ngIf="!historyDetail"> {{'animalBreeding.commonLabel.last_five_et_heat_history'| translate}}</h3>
                <h3 class="muted-label-heading" *ngIf="historyDetail">{{'animalBreeding.commonLabel.latest_et_heat_history'| translate}}</h3>
              </div>
          </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12" *ngIf="!historyDetail">
              <div class="ml-auto mb-3">

                  <button
                    class="btn btn-primary button-float "
                   routerLink="../add-heat-transaction"
                   [queryParams]="{tagId :tagId}"  appPermission [permissionType]="masterConfig.isAdd"
                  >
                    {{'common.add'| translate}} {{'animalBreeding.heat_transaction'| translate}}
                  </button>
            </div>
        </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="table-responsive custom-view-table">
              <table
                mat-table
                [dataSource]="dataSource"
                multiTemplateDataRows
                class="mat-elevation-z8"
                
              >
                <ng-container matColumnDef="currentLactationNo">
                  <th mat-header-cell *matHeaderCellDef>{{'animalDetails.lactation'|translate}}<th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.currentLactationNo ? element.currentLactationNo : '--'}}
                  </td>
                </ng-container>
               
                <ng-container matColumnDef="heatDate">
                  <th mat-header-cell *matHeaderCellDef>{{'animalBreeding.heat_transaction_date'|translate}}</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.heatDate ? element.heatDate : '--'}}
                  </td>
                </ng-container>
               
                 <ng-container matColumnDef="timeSlot">
                  <th mat-header-cell *matHeaderCellDef>{{'animalBreeding.time_slot'|translate}}</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.timeSlot ? element.timeSlot : '--'}}
                  </td>
                </ng-container>
                <ng-container matColumnDef="heatType">
                  <th mat-header-cell *matHeaderCellDef>{{'animalBreeding.heat_type'|translate}}</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.heatType ? element.heatType : '--'}}
                  </td>
                </ng-container>
                <ng-container matColumnDef="eligibleForEtFlag">
                  <th mat-header-cell *matHeaderCellDef>
                    {{'animalBreeding.commonLabel.animal_eligible_for_et'|translate}}
                  </th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.eligibleForEtFlag ? element.eligibleForEtFlag == 'Y' ? 'Yes' :'No' : '--'}}
                  </td>
                </ng-container>
                <ng-container matColumnDef="remarks">
                  <th mat-header-cell *matHeaderCellDef> {{'animalBreeding.remarks'|translate}}</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.remarks ? element.remarks : '--'}}
                  </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                <tr
                  mat-row
                  *matRowDef="let element; columns: columnsToDisplay"
                
                 
                ></tr>
                <tr class="mat-row" *matNoDataRow>
                  <td
                    class="mat-cell text-center"
                    [attr.colspan]="columnsToDisplay.length"
                  >
                   {{'animalBreeding.commonLabel.no_data_matching'| translate}}
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>