<div class="owner-reg-dialog">
    <div class="cross-icon">
      <mat-icon (click)="skipVerification()">clear</mat-icon>
    </div>
    <div class="owner-reg-msg">
      <img
        *ngIf="!data?.isDisplayIcon; else display"
        src="/assets/images/verified.svg"
        class="icon-verified ml-2"
        alt="icon-verified"
      />
      <ng-template #display>
        <i class="fa fa-exclamation-triangle warning_icon"></i>
      </ng-template>
      <div class="farmer-id">
      
      </div>
      <h3 class="sd-msg">{{ data.title }}</h3>
      <h4 class="succes-msg-desc">
        <b>on your registered mobile number {{ mob }}</b></h4>    </div>
    <div class="verify-number">
      <button
        type="submit"
        class="btn btn-primary verify-btn"
        mat-dialog-close
        (click)="openVerificationDialog()" 
      >OK
      </button>
   
    </div>
  </div>
  