<div class="bull-details-parameters" [ngClass]="{'mx-4 my-2': isParent}" [formGroup]="childFormGroup">
  <div class="parameter-header form-row">
    <div class="col-3 font-weight-bold">Parameters</div>
    <div class="col-3 font-weight-bold">Avg. Absolute Value</div>
    <div class="col-3 font-weight-bold">Breeding Value</div>
    <div class="col-3 font-weight-bold">Reliability (%)</div>
  </div>
  <!-- <form > -->
  <div class="parameter-body">
    <div class="form-row my-2">
      <div class="col-3 mt-2 ">Standard Yield (ltrs)</div>
      <div class="col-3 form-group">
        <input class="form-control" formControlName="standardYield" />
      </div>
      <div class="col-3 form-group">
        <input class="form-control" formControlName="standardYieldBreeding" />
      </div>
      <div class="col-3 form-group">
        <input class="form-control" formControlName="standardYieldReliability" />
      </div>
    </div>
    <div class="form-row my-2">
      <div class="col-3 mt-2">Fat %</div>
      <div class="col-3 form-group">
        <input class="form-control" formControlName="fatPercent" />

      </div>
      <div class="col-3 form-group">
        <input class="form-control" formControlName="fatPercentBreeding" />
      </div>
      <div class="col-3 form-group">
        <input class="form-control" formControlName="fatPercentReliability" />
      </div>
    </div>
    <div class="form-row my-2">
      <div class="col-3 mt-2 ">Fat Yield (Kg)</div>
      <div class="col-3 form-group">
        <input class="form-control" formControlName="fatYield" />
      </div>
      <div class="col-3 form-group">
        <input class="form-control" formControlName="fatYieldBreeding" />
      </div>
      <div class="col-3 form-group">
        <input class="form-control" formControlName="fatYieldReliability" />
      </div>
    </div>

    <div class="form-row my-2">
      <div class="col-3 mt-2 ">Protein %</div>
      <div class="col-3 form-group">
        <input class="form-control" formControlName="protienPercent" />
      </div>
      <div class="col-3 form-group">
        <input class="form-control" formControlName="protienPercentBreeding" />
      </div>
      <div class="col-3 form-group">
        <input class="form-control" formControlName="protienPercentReliability" />
      </div>
    </div>
    <div class="form-row my-2">
      <div class="col-3 mt-2 ">Protein Yield (kg)</div>
      <div class="col-3 form-group">
        <input class="form-control" formControlName="protienYield" />
      </div>
      <div class="col-3 form-group">
        <input class="form-control" formControlName="protienYieldBreeding" />
      </div>
      <div class="col-3 form-group">
        <input class="form-control" formControlName="protienYieldReliability" />
      </div>
    </div>
    <div class="form-row my-2">
      <div class="col-3 mt-2 ">Lactose %</div>
      <div class="col-3 form-group">
        <input class="form-control" formControlName="lactosePercent" />
      </div>
      <div class="col-3 form-group">
        <input class="form-control" formControlName="lactosePercentBreeding" />
      </div>
      <div class="col-3 form-group">
        <input class="form-control" formControlName="lactosePercentReliability" />
      </div>
    </div>
    <div class="form-row my-2">
      <div class="col-3 mt-2 ">Lactose Yield (kg)</div>
      <div class="col-3 form-group">
        <input class="form-control" formControlName="lactoseYield" />
      </div>
      <div class="col-3 form-group">
        <input class="form-control" formControlName="lactoseYieldBreeding" />
      </div>
      <div class="col-3 form-group">
        <input class="form-control" formControlName="lactoseYieldReliability" />
      </div>
    </div>
    <div class="form-row my-2">
      <div class="col-3 mt-2 ">SSC</div>
      <div class="col-3 form-group">
        <input class="form-control" formControlName="sscValue" />
      </div>
      <div class="col-3 form-group">
        <input class="form-control" formControlName="sscBreeding" />
      </div>
      <div class="col-3 form-group">
        <input class="form-control" formControlName="sscReliability" />
      </div>
    </div>
    <div class="form-row my-2">
      <div class="col-3 mt-2 ">MUN</div>
      <div class="col-3 form-group">
        <input class="form-control" formControlName="munValue" />
      </div>
      <div class="col-3 form-group">
        <input class="form-control" formControlName="munBreeding" />
      </div>
      <div class="col-3 form-group">
        <input class="form-control" formControlName="munReliability" />
      </div>
    </div>
  </div>
  <!-- </form> -->
</div>