<div class="ear-tag-detail">
    <div class="tag-detail-header">
      <div class="heading-section">
        <h2 class="tag-detail-heading">{{'common.alert'| translate}} !</h2>
        <p class="edit-heading-desc" >{{'errorMsg.animal_age_less'|translate}},<br> {{'common.so'|translate}} {{data.breedActivity}} {{'common.can_not_done'| translate}}</p>
      </div>
     
    </div>
    <div class="tag-detail-form" >
        <div class="d-flex justify-content-center mt-3" >
          <button type="submit" class="btn btn-primary btn-width" mat-dialog-close>
            {{'common.ok_string'| translate}}
          </button>
        </div>
  
    </div>

  </div>