<div class="container">
  <div class="row breadcum align-items-center py-2">
    <div class="col-lg-5 col-md-5 col-sm-12">
      <div class="breadcum-heading">
        <h3 class="heading">Admin Management</h3>
      </div>
    </div>
  </div>

  <section class="dashboard-tiles">
    <div class="row justify-content-center m-auto">
      <div class="col-md-5">
        <div class="box" routerLink="/dashboard/organization-management/list">
          <div class="imgbox">
            <img src="assets/user_profile.jpg" />
          </div>
          <div class="content">
            <p>Organization</p>
            <p>Management</p>
          </div>
        </div>
        <div class="box" routerLink="/dashboard/user-management/list">
          <div class="imgbox">
            <img src="assets/user_profile.jpg" />
          </div>
          <div class="content">
            <p>User</p>
            <p>Management</p>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <div class="box" routerLink="/dashboard/project-management/list">
          <div class="imgbox">
            <img src="assets/user_profile.jpg" />
          </div>
          <div class="content">
            <p>Project</p>
            <p>Management</p>
          </div>
        </div>
        <div class="box" routerLink="/dashboard/access-management/list">
          <div class="imgbox">
            <img src="assets/user_profile.jpg" />
          </div>
          <div class="content">
            <p>Access</p>
            <p>Privilege</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
