<div class="overlay" *ngIf="isLoadingSpinner">
  <div class="center">
    <mat-spinner class="center"></mat-spinner>
  </div>
</div>

<form [formGroup]="searchForm">
  <div class="form-row">
    <div class="form-group col-lg-3 col-md-3">
      <!-- <label for="aiCenterCd" class="form-label">{{"registration.state" | translate}}<span class="mandatory-field">*</span></label> -->
      <ng-select
        [items]="stateList"
        [multiple]="true"
        [virtualScroll]="true"
        bindLabel="stateName"
        groupBy="selectedAllGroup"
        [selectableGroup]="true"
        [selectableGroupAsModel]="false"
        [closeOnSelect]="false"
        bindValue="stateCode"
        [loading]="isLoadingSpinner"
        placeholder="Select State"
        formControlName="stateCd"
        (change)="getDistrictList()"
      >
        <ng-template
          class="form-control"
          ng-optgroup-tmp
          let-item="item"
          let-item$="item$"
          let-index="index"
        >
          <input
            id="item-{{ index }}"
            type="checkbox"
            [(ngModel)]="item$.selected"
            [ngModelOptions]="{ standalone: true }"
          />
          Select All
        </ng-template>

        <ng-template
          class="form-control"
          ng-option-tmp
          let-item="item"
          let-item$="item$"
        >
          <input
            id="item-{{ item.stateCode }}"
            type="checkbox"
            [(ngModel)]="item$.selected"
            [ngModelOptions]="{ standalone: true }"
          />
          {{ item.stateName }}
        </ng-template>
      </ng-select>
    </div>

    <div class="form-group col-lg-3 col-md-3">
      <!-- <label for="aiCenterCd" class="form-label">{{"registration.state" | translate}}<span class="mandatory-field">*</span></label> -->
      <ng-select
        [items]="districtList"
        [multiple]="true"
        [virtualScroll]="true"
        bindLabel="areaName"
        groupBy="selectedAllGroup"
        [selectableGroup]="true"
        [selectableGroupAsModel]="false"
        [closeOnSelect]="false"
        bindValue="districtCd"
        [loading]="isLoadingSpinner"
        placeholder="Select District"
        formControlName="districtCd"
        (change)="getTehsilList()"
      >
        <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
          <div class="ng-value" *ngFor="let item of items | slice : 0 : 2">
            <span class="ng-value-label"> {{ item["districtName"] }}</span>
            <span
              class="ng-value-icon right"
              (click)="clear(item)"
              aria-hidden="true"
              >×</span
            >
          </div>
          <div class="ng-value" *ngIf="items.length > 2">
            <span class="ng-value-label">{{ items.length - 2 }} more...</span>
          </div>
        </ng-template>

        <ng-template
          class="form-control"
          ng-optgroup-tmp
          let-item="item"
          let-item$="item$"
          let-index="index"
        >
          <input
            id="item-{{ index }}"
            type="checkbox"
            [(ngModel)]="item$.selected"
            [ngModelOptions]="{ standalone: true }"
          />
          Select All
        </ng-template>

        <ng-template
          class="form-control"
          ng-option-tmp
          let-item="item"
          let-item$="item$"
        >
          <input
            id="item-{{ item.districtCd }}"
            type="checkbox"
            [(ngModel)]="item$.selected"
            [ngModelOptions]="{ standalone: true }"
          />
          {{ item.districtName }}
        </ng-template>
      </ng-select>
    </div>

    <div class="form-group col-lg-3 col-md-3">
      <!-- <label for="aiCenterCd" class="form-label">{{"registration.state" | translate}}<span class="mandatory-field">*</span></label> -->
      <ng-select
        [items]="tehsilList"
        [multiple]="true"
        [virtualScroll]="true"
        bindLabel="tehsilName"
        groupBy="selectedAllGroup"
        [selectableGroup]="true"
        [selectableGroupAsModel]="false"
        [closeOnSelect]="false"
        bindValue="tehsilCd"
        [loading]="isLoadingSpinner"
        placeholder="Select Tehsil"
        formControlName="tehsilCd"
        (change)="getvillageList()"
      >
        <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
          <div class="ng-value" *ngFor="let item of items | slice : 0 : 2">
            <span class="ng-value-label"> {{ item["tehsilName"] }}</span>
            <span
              class="ng-value-icon right"
              (click)="clear(item)"
              aria-hidden="true"
              >×</span
            >
          </div>
          <div class="ng-value" *ngIf="items.length > 2">
            <span class="ng-value-label">{{ items.length - 2 }} more...</span>
          </div>
        </ng-template>

        <ng-template
          class="form-control"
          ng-optgroup-tmp
          let-item="item"
          let-item$="item$"
          let-index="index"
        >
          <input
            id="item-{{ index }}"
            type="checkbox"
            [(ngModel)]="item$.selected"
            [ngModelOptions]="{ standalone: true }"
          />
          Select All
        </ng-template>

        <ng-template
          class="form-control"
          ng-option-tmp
          let-item="item"
          let-item$="item$"
        >
          <input
            id="item-{{ item.tehsilCd }}"
            type="checkbox"
            [(ngModel)]="item$.selected"
            [ngModelOptions]="{ standalone: true }"
          />
          {{ item.tehsilName }}
        </ng-template>
      </ng-select>
    </div>

    <div class="form-group col-lg-3 col-md-3">
      <!-- <label for="aiCenterCd" class="form-label">{{"registration.state" | translate}}<span class="mandatory-field">*</span></label> -->
      <ng-select
        [items]="villageList"
        [multiple]="true"
        [virtualScroll]="true"
        bindLabel="villageName"
        groupBy="selectedAllGroup"
        [selectableGroup]="true"
        [selectableGroupAsModel]="false"
        [closeOnSelect]="false"
        bindValue="villageCd"
        [loading]="isLoadingSpinner"
        placeholder="Select Village"
        formControlName="villageCd"
      >
        <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
          <div class="ng-value" *ngFor="let item of items | slice : 0 : 2">
            <span class="ng-value-label"> {{ item["villageName"] }}</span>
            <span
              class="ng-value-icon right"
              (click)="clear(item)"
              aria-hidden="true"
              >×</span
            >
          </div>
          <div class="ng-value" *ngIf="items.length > 2">
            <span class="ng-value-label">{{ items.length - 2 }} more...</span>
          </div>
        </ng-template>

        <ng-template
          class="form-control"
          ng-optgroup-tmp
          let-item="item"
          let-item$="item$"
          let-index="index"
        >
          <input
            id="item-{{ index }}"
            type="checkbox"
            [(ngModel)]="item$.selected"
            [ngModelOptions]="{ standalone: true }"
          />
          Select All
        </ng-template>

        <ng-template
          class="form-control"
          ng-option-tmp
          let-item="item"
          let-item$="item$"
        >
          <input
            id="item-{{ item.villageCd }}"
            type="checkbox"
            [(ngModel)]="item$.selected"
            [ngModelOptions]="{ standalone: true }"
          />
          {{ item.villageName }}
        </ng-template>
      </ng-select>
    </div>

    <div class="form-group col-lg-3 col-md-3">
      <!-- <select type="text" class="form-control" id="orgName" formControlName="orgId" (change)="onselectOrg($event)">
        <option value="" selected>Select Organization Name</option>
        <option *ngFor="let org of orglist" [value]="org.orgId">
          {{ org.orgName }}
        </option>
      </select> -->

      <ng-select
        class="custom-dropdown"
        [items]="orglist"
        bindLabel="orgName"
        bindValue="orgId"
        placeholder="Select Organization Name"
        id="orgName"
        [loading]="isLoadingSpinner"
        formControlName="orgId"
        (change)="onselectOrg($event)"
        [clearable]="true"
      >
        <ng-template ng-label-tmp let-item="item">
          <span
            class="ng-value-label"
            placement="top"
            ngbTooltip="{{ item.orgName }}"
            >{{ item.orgName }}</span
          >
        </ng-template>
        <ng-template ng-option-tmp let-item="item">
          <span
            class="ng-option-label"
            placement="top"
            ngbTooltip="{{ item.orgName }}"
            >{{ item.orgName }}
          </span>
        </ng-template>
      </ng-select>
    </div>

    <div class="form-group col-lg-3 col-md-3">
      <!-- <select type="text" class="form-control" id="userType" formControlName="userTypes">
        <option value="" selected>Select UserType</option>
        <option *ngFor="let data of userType" [value]="data.cd">
          {{ data.value }}
        </option>
      </select> -->
      <ng-select
        [items]="userType"
        bindLabel="value"
        bindValue="cd"
        formControlName="userTypes"
        [clearable]="true"
        placeholder="Select User Type"
      >
        <!-- <ng-template ng-option-tmp let-item="item" class="tooltips">
          <span class="ng-option-label" title="{{item.value}}">{{ item.value
            }}</span>
        </ng-template> -->
      </ng-select>
    </div>

    <div class="form-group col-lg-3 col-md-3">
      <ng-select
        [items]="roleList"
        [multiple]="true"
        [virtualScroll]="true"
        bindLabel="roleDesc"
        groupBy="selectedAllGroup"
        [selectableGroup]="true"
        [selectableGroupAsModel]="false"
        [closeOnSelect]="false"
        bindValue="roleCd"
        placeholder="Select Role"
        formControlName="roleCd"
      >
        <ng-template
          class="form-control"
          ng-optgroup-tmp
          let-item="item"
          let-item$="item$"
          let-index="index"
        >
          <input
            id="item-{{ index }}"
            type="checkbox"
            [(ngModel)]="item$.selected"
            [ngModelOptions]="{ standalone: true }"
          />
          Select All
        </ng-template>

        <ng-template
          class="form-control"
          ng-option-tmp
          let-item="item"
          let-item$="item$"
        >
          <input
            id="item-{{ item.roleCd }}"
            type="checkbox"
            [(ngModel)]="item$.selected"
            [ngModelOptions]="{ standalone: true }"
          />
          {{ item.roleDesc }}
        </ng-template>
      </ng-select>
    </div>

    <!-- <div class="col-lg-3 col-md-3">
      <ul class="project-mgmt">
        <li>
          <button type="button" class="btn btn-outline-primary" (click)="resetSearch()">
            {{ "common.clear" | translate }}
          </button>
        </li>
      </ul>
    </div> -->
  </div>
  <div id="search-section" class="row">
    <span class="searchby-label-black"
      >{{ "animalDetails.search_by" | translate }}:</span
    >
    <div class="search-mobile-view">
      <div class="form-check-inline">
        <input
          type="radio"
          class="form-check-input"
          name="optRadio"
          value="userName"
          (change)="onSelectingSearchBy($event)"
          formControlName="optRadio"
        />
        <label class="form-check-label">{{
          "user.userName" | translate
        }}</label>
      </div>
      <div class="form-check-inline">
        <input
          type="radio"
          class="form-check-input"
          name="optRadio"
          value="loginId"
          (change)="onSelectingSearchBy($event)"
          formControlName="optRadio"
        />
        <label class="form-check-label">{{ "user.loginId" | translate }}</label>
      </div>
      <div class="form-check-inline">
        <input
          type="radio"
          class="form-check-input"
          name="optRadio"
          value="mobileNo"
          (change)="onSelectingSearchBy($event)"
          formControlName="optRadio"
        />
        <label class="form-check-label">{{
          "registration.filter.mobile" | translate
        }}</label>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-8 search-by">
      <img
        src="/assets/images/search.svg"
        class="input-icon-left"
        alt="icon-search"
      />
      <input
        [type]="inputType"
        class="form-control input input-section"
        id="search-by"
        placeholder="{{ 'user.search_keyword' | translate }}"
        formControlName="searchValue"
        [maxLength]="maxLength"
        [minlength]="3"
      />
      <a class="input-clear" (click)="resetValue()">
        {{ "common.clear" | translate }}
      </a>
    </div>

    <div class="col-auto btn-mobile-view">
      <button
        type="submit"
        class="btn btn-primary"
        (click)="onGetUserList()"
        [disabled]="!isfilterField"
      >
        {{ "animalDetails.search" | translate }}
      </button>
    </div>
    <div class="col-sm-12">
      <mat-error *ngIf="searchForm.get('searchValue').invalid">
        <span
          *ngIf="searchForm.get('searchValue').errors?.['pattern']"
          class="validation-error-message"
        >
          {{ errorMsg | translate }}
        </span>
        <span
          *ngIf="searchForm.get('searchValue').errors?.['minlength']"
          class="validation-error-message"
        >
          {{ "errorMsg.error_name_length" | translate }}
        </span>
      </mat-error>
    </div>
  </div>
</form>
