<div class="overlay" *ngIf="isLoadingSpinner">
  <div class="center">
    <mat-spinner class="center"></mat-spinner>
  </div>
</div>

<section>
  <div class="row no-gutters col-container">
    <div class="col-md-12 col-h left-section">
      <div class="owner-details-section">
        <div class="row owner-detail-table mb-4 mx-0 py-3 align-items-center user-detail">
          <div class="back-arrow">
            <i class="fa fa-chevron-left mr-2 back-section" (click)="goBack()"></i>
          </div>
          <div class="table-responsive" *ngIf="historyDetail['compDetail'] !== 'GA'; else gaAnimalDetails">
            <table class="table animal-table m-0" *ngIf="animalHistoryDetail?.ownerResponse?.animalsList?.length > 0">
              <thead>
                <tr>
                  <th>{{'animalDetails.animal_tag_number'|translate}}</th>
                  <th>{{'animalDetails.category_species'|translate}}</th>
                  <th>{{'animalDetails.breed'|translate}}</th>
                  <th>{{'common.age'|translate}}</th>
                  <th *ngIf="historyDetail['compDetail'] == 'PD'">{{'animalBreeding.days_ai_et'|translate}}</th>
                  <th *ngIf="historyDetail['compDetail'] == 'Calving'">{{'animalBreeding.gestation_days'|translate}}
                  </th>
                  <th *ngIf="historyDetail['compDetail'] == 'HT'">{{'animalBreeding.sync'|translate}}</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{ animalHistoryDetail?.ownerResponse?.animalsList[0]?.tagId }}</td>
                  <td>{{ animalHistoryDetail?.ownerResponse?.animalsList[0]?.species }}</td>
                  <td>{{ animalHistoryDetail?.ownerResponse?.animalsList[0]?.breed }}</td>
                  <td>{{ animalHistoryDetail?.ownerResponse?.animalsList[0]?.age }}</td>
                  <td *ngIf="historyDetail['compDetail'] == 'PD'">
                    {{ daysAfterET}}
                  </td>
                  <td class="col-auto" *ngIf="historyDetail['compDetail'] == 'Calving'">
                    <!-- {{animalHistoryDetail?.breedingHistoryList[animalHistoryDetail?.breedingHistoryList?.length - 1]?.gestationDays}} -->
                    {{ (gestationDays > 0 || gestationDays == 0) ? gestationDays :'--' }}
                  </td>
                  <td *ngIf="historyDetail['compDetail'] == 'HT'">
                    {{heatType?.length == 1 ? heatType[0]['value'] == 'Induced' ? 'Yes' : 'No': 'No'}}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!-- <div class="title-heading mb-3">
         
        </div> -->
        <div class="row align-items-center mb-2">
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="title-section">
              <div class="title-heading mb-3">
                <h3 class="muted-label-heading" *ngIf="!historyDetail['isHistory']"> {{'animalBreeding.latest'|
                  translate}} {{historyDetail['name']| translate}} {{'animalBreeding.history'| translate}}</h3>
                <h3 class="muted-label-heading" *ngIf="historyDetail['isHistory']"> {{'animalBreeding.last_five'|
                  translate}} {{historyDetail['name']| translate}} {{'animalBreeding.history'| translate}}</h3>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12" *ngIf="historyDetail['isHistory']">
            <div class="ml-auto mb-3">
              <button class="btn btn-primary button-float " (click)="editDetection(historyDetail['compDetail'])"
                appPermission [permissionType]="masterConfig.isModify" *ngIf="this.latestBreeding && this.latestBreeding?.length > 0 && (historyDetail['compDetail']=='AI' 
                && (this.latestBreeding[0]?.isEditBreedingTransaction == 1) || 
                (historyDetail['compDetail'] =='PD' && this.latestBreeding[0]?.isEditBreedingTransaction == 2) || 
                historyDetail['compDetail']=='Calving' && this.latestBreeding[0]?.isEditBreedingTransaction == 3)">
                {{'animalBreeding.edit_last'| translate}} {{historyDetail['name'] | translate}}
              </button>

              <button class="btn btn-primary button-float mr-2" (click)="addNewPage()" appPermission
                [permissionType]="masterConfig.isAdd">
                {{'common.new'| translate}} {{historyDetail['name'] | translate}}
              </button>

            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="table-responsive custom-view-table">
              <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">
                <ng-container matColumnDef="aiLactationNumber">
                  <th mat-header-cell *matHeaderCellDef>{{'animalDetails.lactation'|translate}}.
                  <th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.currentLactationNo ? element.currentLactationNo : '--'}}
                  </td>
                </ng-container>
                <ng-container matColumnDef="aiDate">
                  <th mat-header-cell *matHeaderCellDef>
                    {{'animalBreeding.ai_et_Date'|translate}}
                  </th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.aiEtDate ? element.aiEtDate : '--'}}
                  </td>
                </ng-container>
                <ng-container matColumnDef="bullId">
                  <th mat-header-cell *matHeaderCellDef>{{'animalBreeding.bull_embryo_ID'|translate}}</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.bullId ? element.bullId : '--'}}
                  </td>
                </ng-container>
                <ng-container matColumnDef="pdDate">
                  <th mat-header-cell *matHeaderCellDef>{{'animalBreeding.pd'|translate}} {{'common.date'|translate}}
                  </th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.pdDate ? element.pdDate : '--'}}
                  </td>
                </ng-container>

                <ng-container matColumnDef="calvingDate">
                  <th mat-header-cell *matHeaderCellDef>{{'animalBreeding.calving'|translate}}
                    {{'common.date'|translate}}</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.calvingDate ? element.calvingDate : '--'}}
                  </td>
                </ng-container>
                <ng-container matColumnDef="aiType">
                  <th mat-header-cell *matHeaderCellDef>{{'animalBreeding.ai'|translate}}
                    {{'animalBreeding.type'|translate}}</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.aiType ? element.aiType : '--'}}
                  </td>
                </ng-container>
                <ng-container matColumnDef="serviceType">
                  <th mat-header-cell *matHeaderCellDef>{{'animalBreeding.service_type'|translate}}</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.serviceType ? element.serviceType : '--'}}
                  </td>
                </ng-container>

                <ng-container matColumnDef="status">
                  <th mat-header-cell *matHeaderCellDef>{{'animalBreeding.status'|translate}}</th>
                  <td mat-cell *matCellDef="let element">
                    <span class="status-highlight">{{ element.status ? element.status : '--'}}</span>
                  </td>
                </ng-container>
                <ng-container matColumnDef="actualAiNumber">
                  <th mat-header-cell *matHeaderCellDef>{{'animalBreeding.actual_ai_no'|translate}}</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.actualAiEtNumber ? element.actualAiEtNumber : '--'}}
                  </td>
                </ng-container>
                <ng-container matColumnDef="aiDoneBy">
                  <th mat-header-cell *matHeaderCellDef>{{'animalBreeding.ai_done_by'|translate}}</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.aiDoneBy ? element.aiDoneBy : '--'}}
                  </td>
                </ng-container>

                <ng-container matColumnDef="sampleId">
                  <th mat-header-cell *matHeaderCellDef>{{'diseaseTesting.sampleID' | translate}}</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.sampleId ?? '--' }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="sampleRecordDate">
                  <th mat-header-cell *matHeaderCellDef>{{'animalBreeding.record_date' | translate}}</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.sampleRecordDate | date:'dd/MM/YYYY' }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="sampleCollectionDate">
                  <th mat-header-cell *matHeaderCellDef>{{'performanceRecording.sample_collection_date' | translate}}
                  </th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.sampleCollectionDate | date:'dd/MM/YYYY' }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="breedingSampleTypeName">
                  <th mat-header-cell *matHeaderCellDef>{{'performanceRecording.sample_type' | translate}}
                  </th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.breedingSampleTypeName ?? '--' }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="breedingExaminationSubtypeName">
                  <th mat-header-cell *matHeaderCellDef>{{'performanceRecording.sub_examination_type' |
                    translate}}
                  </th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.breedingExaminationSubtypeName ?? '--' }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="labName">
                  <th mat-header-cell *matHeaderCellDef>{{'performanceRecording.lab_name' |
                    translate}}
                  </th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.labName ?? '--' }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="sampleResult">
                  <th mat-header-cell *matHeaderCellDef>{{'performanceRecording.sample_result' |
                    translate}}
                  </th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.sampleResult == null ? 'Pending' : (element.sampleResult == 1 ? 'Positive': 'Negative')
                    }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="semenType">
                  <th mat-header-cell *matHeaderCellDef>{{'animalBreeding.semen_type' |
                    translate}}
                  </th>
                  <td mat-cell *matCellDef="let element">
                    {{ element?.semenType}}
                  </td>
                </ng-container>

                <!-- <ng-container matColumnDef="action">
                      <th mat-header-cell *matHeaderCellDef> {{'animalBreeding.action'|translate}}</th>
                      <td mat-cell *matCellDef="let element; let i = renderIndex">
                        <a class="health-history" href="javascript:void(0)" (click)="navigateByURL(true)"
                         *ngIf="historyDetail['isHistory'] && i == 0" >{{'common.edit'|translate}}</a>
                         
                      </td>
                    </ng-container> -->

                <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                <tr mat-row *matRowDef="let element; columns: columnsToDisplay"></tr>
                <tr class="mat-row" *matNoDataRow>
                  <td class="mat-cell text-center" [attr.colspan]="columnsToDisplay.length">
                    {{'animalBreeding.commonLabel.no_data_matching'| translate}}
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<ng-template #gaAnimalDetails>
  <table class="table animal-table m-0">
    <thead>
      <tr>
        <th>{{'animalDetails.animal_tag_number'|translate}}</th>
        <th>{{'animalDetails.category_species'|translate}}</th>
        <th>{{'animalDetails.breed'|translate}}</th>
        <th>{{'common.age'|translate}}</th>
        <th *ngIf="historyDetail['compDetail'] == 'PD'">{{'animalBreeding.days_ai_et'|translate}}</th>
        <th *ngIf="historyDetail['compDetail'] == 'Calving'">{{'animalBreeding.gestation_days'|translate}}
        </th>
        <th *ngIf="historyDetail['compDetail'] == 'HT'">{{'animalBreeding.sync'|translate}}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ animalHistoryDetail?.animalResponse?.tagId }}</td>
        <td>{{ animalHistoryDetail?.animalResponse?.species }}</td>
        <td>{{ animalHistoryDetail?.animalResponse?.breed }}</td>
        <td>{{ animalHistoryDetail?.animalResponse?.age }}</td>
        <td *ngIf="historyDetail['compDetail'] == 'PD'">
          {{ daysAfterET}}
        </td>
        <td class="col-auto" *ngIf="historyDetail['compDetail'] == 'Calving'">
          <!-- {{animalHistoryDetail?.breedingHistoryList[animalHistoryDetail?.breedingHistoryList?.length - 1]?.gestationDays}} -->
          {{gestationDays && (gestationDays > 0 || gestationDays == 0) ? gestationDays :'--' }}
        </td>
        <td *ngIf="historyDetail['compDetail'] == 'HT'">
          {{heatType?.length == 1 ? heatType[0]['value'] == 'Induced' ? 'Yes' : 'No': 'No'}}
        </td>
      </tr>
    </tbody>
  </table>
</ng-template>