<div class="row p-0 mb-3">
  <div class="col-md-12">
    <div class="card card-header-list list-tile">
      <div class="card-header d-flex justify-content-between">
        <div class="label-heading col-md-6 p-0">Latest News</div>
        <div class="label-view col-md-6 p-0 text-right">
            <span>View All</span>
        </div>
    </div>
      <div class="card-body card-news list-gap">
        <li class="d-flex mb-2">
          <svg class="mr-2" width="25.184" height="21.453" viewBox="0 0 25.184 21.453">
            <g id="Group_3049" data-name="Group 3049" transform="translate(1384.722 4315.46) rotate(-21)">
              <path id="Path_4899" data-name="Path 4899" d="M136.425,133.829v-2.907c0-.918-.674-1.592-1.371-1.382l-8.727,2.67H123.38a3.924,3.924,0,0,0-3.808,2.764,3.869,3.869,0,0,0,3.035,4.881v3.687a.829.829,0,0,0,.829.829h1.105a.829.829,0,0,0,.829-.829v-3.593h.553l9.076,2.67c.73.216,1.426-.464,1.426-1.382v-3.41a1.443,1.443,0,0,0,1.106-1.365v-1.266a1.443,1.443,0,0,0-1.106-1.365Z" transform="translate(131.64 -4647.501)" fill="#a1c6de"/>
              <path id="Path_4900" data-name="Path 4900" d="M514.3,193.668a.553.553,0,0,1-.5-.785,5.527,5.527,0,0,0-.393-5.317.553.553,0,1,1,.929-.6,6.632,6.632,0,0,1,.47,6.378.553.553,0,0,1-.5.326Z" transform="translate(-243.593 -4702.001)" fill="#a1c6de"/>
              <path id="Path_4901" data-name="Path 4901" d="M528.052,151.95a.553.553,0,0,1-.431-.9,6.91,6.91,0,0,0-.459-9.214.553.553,0,0,1,.779-.774,8.015,8.015,0,0,1,.553,10.685.552.552,0,0,1-.442.2Z" transform="translate(-256.671 -4658.398)" fill="#a1c6de"/>
            </g>
          </svg>
            <div class="news-details">
              <p class="mb-1 label-title">Technology Introduced</p>
              <p class="mb-1 label-desc">New Technology developed recently to avoid virus spread.</p>
              <p class="mb-1 label-time">12 min ago</p>
            </div>
        </li>
        <li class="d-flex mb-2">
          <svg class="mr-2" width="25.184" height="21.453" viewBox="0 0 25.184 21.453">
            <g id="Group_3049" data-name="Group 3049" transform="translate(1384.722 4315.46) rotate(-21)">
              <path id="Path_4899" data-name="Path 4899" d="M136.425,133.829v-2.907c0-.918-.674-1.592-1.371-1.382l-8.727,2.67H123.38a3.924,3.924,0,0,0-3.808,2.764,3.869,3.869,0,0,0,3.035,4.881v3.687a.829.829,0,0,0,.829.829h1.105a.829.829,0,0,0,.829-.829v-3.593h.553l9.076,2.67c.73.216,1.426-.464,1.426-1.382v-3.41a1.443,1.443,0,0,0,1.106-1.365v-1.266a1.443,1.443,0,0,0-1.106-1.365Z" transform="translate(131.64 -4647.501)" fill="#a1c6de"/>
              <path id="Path_4900" data-name="Path 4900" d="M514.3,193.668a.553.553,0,0,1-.5-.785,5.527,5.527,0,0,0-.393-5.317.553.553,0,1,1,.929-.6,6.632,6.632,0,0,1,.47,6.378.553.553,0,0,1-.5.326Z" transform="translate(-243.593 -4702.001)" fill="#a1c6de"/>
              <path id="Path_4901" data-name="Path 4901" d="M528.052,151.95a.553.553,0,0,1-.431-.9,6.91,6.91,0,0,0-.459-9.214.553.553,0,0,1,.779-.774,8.015,8.015,0,0,1,.553,10.685.552.552,0,0,1-.442.2Z" transform="translate(-256.671 -4658.398)" fill="#a1c6de"/>
            </g>
          </svg>
            <div class="news-details">
              <p class="mb-1 label-title">Technology Introduced</p>
              <p class="mb-1 label-desc">New Technology developed recently to avoid virus spread.</p>
              <p class="mb-1 label-time">12 min ago</p>
            </div>
        </li>
        <li class="d-flex mb-2">
          <svg class="mr-2" width="25.184" height="21.453" viewBox="0 0 25.184 21.453">
            <g id="Group_3049" data-name="Group 3049" transform="translate(1384.722 4315.46) rotate(-21)">
              <path id="Path_4899" data-name="Path 4899" d="M136.425,133.829v-2.907c0-.918-.674-1.592-1.371-1.382l-8.727,2.67H123.38a3.924,3.924,0,0,0-3.808,2.764,3.869,3.869,0,0,0,3.035,4.881v3.687a.829.829,0,0,0,.829.829h1.105a.829.829,0,0,0,.829-.829v-3.593h.553l9.076,2.67c.73.216,1.426-.464,1.426-1.382v-3.41a1.443,1.443,0,0,0,1.106-1.365v-1.266a1.443,1.443,0,0,0-1.106-1.365Z" transform="translate(131.64 -4647.501)" fill="#a1c6de"/>
              <path id="Path_4900" data-name="Path 4900" d="M514.3,193.668a.553.553,0,0,1-.5-.785,5.527,5.527,0,0,0-.393-5.317.553.553,0,1,1,.929-.6,6.632,6.632,0,0,1,.47,6.378.553.553,0,0,1-.5.326Z" transform="translate(-243.593 -4702.001)" fill="#a1c6de"/>
              <path id="Path_4901" data-name="Path 4901" d="M528.052,151.95a.553.553,0,0,1-.431-.9,6.91,6.91,0,0,0-.459-9.214.553.553,0,0,1,.779-.774,8.015,8.015,0,0,1,.553,10.685.552.552,0,0,1-.442.2Z" transform="translate(-256.671 -4658.398)" fill="#a1c6de"/>
            </g>
          </svg>
          <div class="news-details">
            <p class="mb-1 label-title">Technology Introduced</p>
            <p class="mb-1 label-desc">New Technology developed recently to avoid virus spread.</p>
            <p class="mb-1 label-time">12 min ago</p>
          </div>
        </li>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="card card-header-list list-tile">
      <div class="card-header d-flex justify-content-between">
        <div class="label-heading col-md-6 p-0">Videos</div>
        <div class="label-view col-md-6 p-0 text-right">
            <span>View All</span>
        </div>
    </div>
      <div class="card-body card-video list-gap">
        <li class="d-flex mb-2">
         <img src="../../../../assets/images/video-img.png" alt="video-Image" class="video-img mr-2">
            <div class="videos-details">
              <p class="mb-1 label-desc">Deworming in Dairy Cattle - A short film</p>
              <p class="label-muted">by ABC</p>
            </div>
        </li>
        <li class="d-flex mb-2">
          <img src="../../../../assets/images/video-img.png" alt="video-Image" class="video-img mr-2">
            <div class="videos-details">
              <p class="mb-1 label-desc">Deworming in Dairy Cattle - A short film</p>
              <p class="label-muted">by ABC</p>
            </div>
        </li>
        <li class="d-flex mb-2">
          <img src="../../../../assets/images/video-img.png" alt="video-Image" class="video-img mr-2">
          <div class="videos-details">
            <p class="mb-1 label-desc">Deworming in Dairy Cattle - A short film</p>
            <p class="label-muted">by ABC</p>
          </div>
        </li>
      </div>
    </div>
  </div>
</div>