<div class="overlay" *ngIf="isLoadingSpinner">
  <div class="center">
    <mat-spinner class="center"></mat-spinner>
  </div>
</div>

<!-- section breadcum -->
<div class="container p-0">
  <div class="row breadcum align-items-center py-2">
    <div class="col-12">
      <div class="breadcrumb-list">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb m-0">
            <li class="breadcrumb-item active">
              <a> {{ "common.breadcrumb_home" | translate }}</a>
            </li>
            <li class="breadcrumb-item current">
              <a href="javascript:void(0)">{{
                "notification.notification_lbl" | translate
              }}</a>
            </li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<!-- section breadcum -->

<section class="notification-section">
  <div class="row p-0 mb-3">
    <div class="col-md-12">
      <div class="card border-0">
        <div class="card-body">
          <!-- notification-header -->
          <div class="report-header">
            <p class="muted-label-heading">
              <strong>{{ "notification.all_notification" | translate }}</strong>
            </p>
          </div>

          <div class="owner-reg--tabs mt-2">
            <div class="tabs-nav-list row">
              <div class="col-12">
                <div class="row">
                  <div class="col-12 col-md-9 d-flex">
                    <div class="form-check form-check-inline mr-4">
                      <i class="fa fa-filter mr-1"></i>
                      <label class="form-check-label" for="inlineCheckbox1">{{
                        "notification.filter_by" | translate
                      }}</label>
                    </div>
                    <div class="form-check form-check-inline form-to-date">
                      <label class="form-check-label mr-2" for="fromDate">{{
                        "notification.from" | translate
                      }}</label>
                      <input
                        readonly
                        [matDatepicker]="frompicker"
                        class="form-control"
                        placeholder="dd/mm/yyyy"
                        (dateInput)="applyDateFilter()"
                        [(ngModel)]="fromDateFilter"
                        [max]="dateToday"
                        [min]="getPastDate(1)"
                      />
                      <mat-datepicker-toggle
                        matSuffix
                        [for]="frompicker"
                        class="date-picker"
                      ></mat-datepicker-toggle>
                      <mat-datepicker #frompicker></mat-datepicker>
                    </div>
                    <div class="form-check form-check-inline form-to-date">
                      <label class="form-check-label mr-2" for="toDate">{{
                        "notification.to" | translate
                      }}</label>
                      <input
                        readonly
                        [matDatepicker]="topicker"
                        class="form-control"
                        placeholder="dd/mm/yyyy"
                        (dateInput)="applyDateFilter()"
                        [(ngModel)]="toDateFilter"
                        [max]="dateToday"
                        [min]="fromDateFilter"
                      />
                      <mat-datepicker-toggle
                        matSuffix
                        [for]="topicker"
                        class="date-picker"
                      ></mat-datepicker-toggle>
                      <mat-datepicker #topicker></mat-datepicker>
                    </div>
                  </div>
                  <div class="col-12 col-md-3">
                    <div
                      class="d-flex align-items-baseline justify-content-md-end"
                    >
                      <label class="d-inline-block mr-2" for="category"
                        ><small
                          ><strong
                            >{{ "animalDetails.category" | translate }}:</strong
                          ></small
                        ></label
                      >

                      <select
                        name="category"
                        class="form-control form-control-sm d-inline-block"
                        style="width: auto"
                        id="from_year"
                        [(ngModel)]="moduleCode"
                        (change)="applyModuleFilter($event)"
                      >
                        <option value="0">
                          {{
                            "animalDetails.owner_category_placeholder"
                              | translate
                          }}
                        </option>
                        <option
                          *ngFor="let module of modulesList"
                          [value]="module.moduleCd"
                        >
                          {{ module.moduleName }}
                        </option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="mt-3" *ngIf="notificationData; else elseBlock">
            <ng-container *ngFor="let notifData of notificationData">
              <ul class="notif-list">
                <!-- <p class="notif-list-heading mb-2 mt-4">
                  <strong>{{ notifData.generatedTmstmp }}</strong>
                </p> -->
                <li>
                  <div class="row list-item">
                    <div class="col-md-12">
                      <div class="list-details">
                        <p class="notification-title">
                          {{ notifData.subModuleName
                          }}<span class="badge badge-pill list-category"
                            >{{ "animalDetails.category" | translate }} :
                            {{ notifData.moduleName }}</span
                          >
                        </p>
                        <p class="notification-desc">
                          {{ notifData.message }}
                        </p>
                        <p class="notification-time">
                          {{ dateFormatChange(notifData.generatedTmstmp) }}
                          {{ notifData.generatedTmstmp.substring(11, 16) }}
                        </p>
                      </div>
                    </div>
                    <!-- <div class="col-md-3">
                        <div class="list-remove">Remove</div>
                      </div> -->
                  </div>
                </li>
              </ul>
            </ng-container>
          </div>
          <ng-template class="mt-3" #elseBlock
            ><h3 style="margin-top: 30px">
              {{ "notification.no_notification" | translate }}
            </h3></ng-template
          >
        </div>
      </div>
    </div>
  </div>
</section>

<div class="paginator-outer-container" *ngIf="notificationData">
  <div class="paginator-inner-container">
    <div class="paginator-page-size">
      <div class="paginator-page-size--label">
        {{ "notification.item_per_page" | translate }}:
      </div>
      <div class="item-per-page-option">
        <select [(ngModel)]="itemPerPage" (change)="fetchDataFromPagination()">
          <option (value)="(5)">5</option>
          <option (value)="(10)">10</option>
          <option (value)="(20)">20</option>
          <option (value)="(30)">30</option>
          <option (value)="(100)">100</option>
        </select>
      </div>
    </div>
    <div class="mr-2">
      {{ "notification.page" | translate }} {{ currPageNo + 1 }}
      {{ "notification.of" | translate }} {{ totalPages ? totalPages : "0" }}
    </div>
    <div>
      <i
        class="fa fa-solid fa-chevron-left"
        style="margin-right: 10px"
        (disable)="(currPageNo == 0)"
        (click)="fetchPageData('pre')"
      ></i>
      <i
        class="fa fa-solid fa-chevron-right"
        (disable)="(currPageNo == totalPages)"
        (click)="fetchPageData('next')"
      ></i>
    </div>
  </div>
</div>
