<div class="common-info">
  <div class="common-info-header">

    <img [src]="data.icon" class="custom-icon" alt="icon-verified" />
    <p class="header-desc">Reset Password</p>

  </div>

  <div class="common-info-body">

    <form [formGroup]="resetform" (submit)="onResetPassword()" autocomplete="off">
      <mat-form-field [floatLabel]="'never'">
        <mat-label for="oldPassword">Current Password </mat-label>
        <input type="oldPassword" formControlName="oldPassword" id="oldPassword" matInput placeholder="Current Password"
          autocomplete="off" required />
        <mat-error>
          <span *ngIf="!resetform.get('oldPassword').valid && resetform.get('oldPassword').touched"
            class="validation-error-message">
            <span *ngIf="resetform.get('oldPassword').errors?.['required']" class="validation-error-message">
              Current password is required.
            </span>
          </span>

        </mat-error>
      </mat-form-field>


      <mat-form-field [floatLabel]="'never'">
        <mat-label for="newPassword">New Password</mat-label>

        <input [type]="hide ? 'password' : 'text'" formControlName="newPassword" id="newPassword" #passwordmessage
          maxlength="15" minlength="8" id="newPassword" matInput placeholder="New Password" autocomplete="off"
          required />
        <mat-error>
          <span *ngIf="!resetform.get('newPassword').valid && resetform.get('newPassword').touched"
            class="validation-error-message">
            <span *ngIf="resetform.get('newPassword').errors?.['required']" class="validation-error-message">
              Please Enter Valid New Password
            </span>
            <span *ngIf="resetform.get('newPassword').errors?.['pattern']" class="validation-error-message">
              Password should contain at least One capital letter, One digit and at least One special character.
            </span>

            <span *ngIf="resetform.get('newPassword').errors?.['minlength']" class="help-block">
              Password can not be less than 8
            </span>
            <span *ngIf="resetform.get('newPassword').value?.length>=15" class="validation-error-message">
              Password should not be more than 15 character.
            </span>
          </span>
        </mat-error>
        <mat-hint align="end">{{passwordmessage.value.length}} / 15</mat-hint>

        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </mat-form-field>
      <mat-form-field [floatLabel]="'never'">
        <mat-label for="confirmNewPassword">Confirm New Password
        </mat-label>

        <input [type]="cphide ? 'password' : 'text'" formControlName="confirmNewPassword" id="confirmNewPassword"
          matInput placeholder="Re-enter your New Password" autocomplete="off" required />
        <mat-error>
          <div class="validation-error-message"
            *ngIf="(resetform.get('confirmNewPassword').touched || resetform.get('confirmNewPassword').dirty) && !resetform.get('confirmNewPassword').valid">
            <span *ngIf="resetform.get('confirmNewPassword').errors?.required">
              Please Enter Valid Confirm new password
            </span>
            <span *ngIf="resetform.get('confirmNewPassword').errors?.compare">
              The password and Confirm password do not match.
            </span>
          </div>
        </mat-error>
        <mat-icon matSuffix (click)="cphide = !cphide">{{cphide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </mat-form-field>
    </form>

  </div>

  <div class="common-info-footer">
    <button *ngIf="getResetFlag" mat-dialog-close class="btn btn-outline-primary mr-2">
      Cancel
    </button>
    <button class="btn btn-primary" (click)="onResetPassword()">
      Submit
    </button>
  </div>

</div>