.mat-form-field {
  display: block;
}

.icon-verified {
  height: 55px;
  width: 55px;
  padding-bottom: 10px;
}

.owner-reg-dialog .cross-icon {
  text-align: right;
}

.owner-reg-dialog .owner-reg-msg {
  text-align: center;
  max-width: 80%;
  width: 100%;
  margin: auto;
}

.owner-reg-dialog .owner-reg-msg .farmer-id {
  font-size: 12px;
  font-weight: normal;
  letter-spacing: 0px;
  color: #333333;
  opacity: 0.8;
  margin-bottom: 4px;
}

.owner-reg-dialog .owner-reg-msg .succes-msg {
  font-size: 20px;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
  margin-bottom: 6px !important;
}

.owner-reg-dialog .owner-reg-msg .succes-msg-desc {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0px;
  color: #333333;
  opacity: 0.8;
  line-height: 1.25;
  margin-bottom: 30px !important;
}

.owner-reg-dialog .verify-number,
.skip-verification {
  text-align: center;
  text-decoration: underline;
}

.owner-reg-dialog .verify-number .verify-btn {
  font-size: 14px;
  font-weight: bold;
  width: 50%;
  margin-bottom: 1.25rem;
}

.warning_icon {
  color: goldenrod;
  font-size: 50px;
}
