
<div class="overlay" *ngIf="isLoadingSpinner">
    <div class="center">
      <mat-spinner class="center"></mat-spinner>
    </div>
  </div>
  
<div class="container">
    <div class="row breadcum align-items-center py-2">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="breadcrumb-list text-md-left">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item active">
                      <a>{{'animalDetails.home' | translate}}</a>
                    </li>
                    <li class="breadcrumb-item active">
                      <a href="javascript:void(0)">{{'animalBreeding.breeding_module'|translate}}  </a>
                    </li>
                    <li class="breadcrumb-item current">
                      <a href="javascript:void(0)">{{'animalBreeding.et'|translate}} - {{'animalBreeding.embryo_master'|translate}}</a>
                    </li>
                  </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<section class="new-case">
    <div class="row no-gutters col-container">
        <div class="col-md-12 col-h left-section">
            <div class="row mb-3 justify-content-between margin-10">
                <div class="title-section">
                    <div class="title-heading">
                       
                      {{'common.edit'|translate}} {{'animalBreeding.embryo'| translate}}

                    </div>
                </div>

            </div>
            <div class="h-divider">
                <div class="shadow"></div>
            </div>
            <form [formGroup]="form">
                <div class="main-section">
                    <div class="row">
                        <div class="col-md-12">
                          <div class="table-responsive custom-view-table">
                            <!-- <form [formGroup]="form"> -->
                              <table mat-table [dataSource]="dataSource" formArrayName="sync">
                                <!-- Row definitions -->
                                <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
                                <tr mat-row *matRowDef="let row; let i = index; columns: displayColumns;"></tr>
                            
                                <!-- Column definitions -->
                                <ng-container matColumnDef="sr_no">
                                  <th mat-header-cell *matHeaderCellDef>{{'animalBreeding.sr_no'| translate}}</th>
                                  <td mat-cell *matCellDef="let element; let i = index">
                                    {{ i + 1 }}
                                  </td>
                                </ng-container>
                                <ng-container matColumnDef="opu_date">
                                  <th mat-header-cell *matHeaderCellDef> {{'animalBreeding.opu'|translate}}/{{'animalBreeding.flushing_date'|translate}} </th>
                                  <td mat-cell *matCellDef="let row; let index = index"  [formGroupName]="index"> 
                                    {{formatDate(row?.value?.opuDate)}}
                                  </td>
                                </ng-container>
                                <ng-container matColumnDef="embryo_id">
                                  <th mat-header-cell *matHeaderCellDef> {{'animalBreeding.embryo_id'|translate}} </th>
                                  <td mat-cell *matCellDef="let row; let index = index"  [formGroupName]="index"> 
                                    {{row?.value?.embryoId}}
                                  </td>
                                </ng-container>
                                <ng-container matColumnDef="stage">
                                  <th mat-header-cell *matHeaderCellDef> {{'animalBreeding.stage'|translate}}<span
                                    class="mandatory-field">*</span> </th>
                                  <td mat-cell *matCellDef="let row; let index = index"  [formGroupName]="index"> 
                                    <select class="form-control wd-10" name="embryoStage"  formControlName="embryoStage">
                                      <option [value]="type['cd']" *ngFor="let type of getCommonMasterDetail['embryo_stage']">{{type['value']}} </option>
                                  </select>
                                  <div class="alert-message"
                                  *ngIf="rows?.at(index).get('embryoStage')?.errors?.required && rows?.at(index).get('embryoStage')?.touched">
                                  {{'errorMsg.field_mandatory'|translate}}
                                  </div>
                                  </td>
                                </ng-container>
                                <ng-container matColumnDef="grade">
                                  <th mat-header-cell *matHeaderCellDef> {{'animalBreeding.grade'|translate}}<span
                                    class="mandatory-field">*</span> </th>
                                  <td mat-cell *matCellDef="let row; let index = index"  [formGroupName]="index"> 
                                    <select class="form-control wd-4" name="heattype"  formControlName="embryoGrade">
                                      <option [value]="type['cd']" *ngFor="let type of getCommonMasterDetail['embryo_grade']">{{type['value']}} </option>
                                  </select>
                                  <div class="alert-message"
                                  *ngIf="rows?.at(index).get('heattype')?.errors?.required && rows?.at(index).get('heattype')?.touched">
                                  {{'errorMsg.field_mandatory'|translate}}
                                  </div>
                                  </td>
                                </ng-container>
                                <ng-container matColumnDef="age">
                                  <th mat-header-cell *matHeaderCellDef> {{'animalBreeding.age_in_days'|translate}} <span
                                    class="mandatory-field">*</span></th>
                                  <td mat-cell *matCellDef="let row; let index = index"  [formGroupName]="index"> 
                                    <input class="form-control" type="text" formControlName="embryoAge" maxLength="2"
                                    />
                                    <div class="alert-message"
                                *ngIf="rows?.at(index).get('embryoAge')?.errors?.required && rows?.at(index).get('embryoAge')?.touched">
                                {{'errorMsg.field_mandatory'|translate}}
                                </div>
                                <span class="alert-message" *ngIf="rows?.at(index).get('embryoAge')?.hasError('pattern')">
                                  {{'errorMsg.only_numeric'| translate}}
                              </span>
                                  </td>
                                </ng-container>
                                <ng-container matColumnDef="embryo_type">
                                  <th mat-header-cell *matHeaderCellDef> {{'animalBreeding.embryo_type'|translate}}<span
                                    class="mandatory-field">*</span> </th>
                                  <td mat-cell *matCellDef="let row; let index = index"  [formGroupName]="index"> 
                                    <select class="form-control wd-7" name="embryoType"  formControlName="embryoType">
                                      <option [value]="type['cd']" *ngFor="let type of getCommonMasterDetail['embryo_type']">{{type['value']}} </option>
                                  </select>
                                  <div class="alert-message"
                                  *ngIf="rows?.at(index).get('embryoType')?.errors?.required && rows?.at(index).get('embryoType')?.touched">
                                  {{'errorMsg.field_mandatory'|translate}}
                                  </div>
                                  </td>
                                </ng-container>
                                <ng-container matColumnDef="freezing_rate">
                                  <th mat-header-cell *matHeaderCellDef> {{'animalBreeding.freezing_rate'|translate}} </th>
                                  <td mat-cell *matCellDef="let row; let index = index"  [formGroupName]="index"> 
                                    <input class="form-control" type="text" formControlName="freezingRate" placeholder="00.00 °C"
                                    />
                                    <span class="alert-message" *ngIf="rows?.at(index).get('freezingRate')?.hasError('pattern')">
                                      {{'errorMsg.only_numeric'| translate}}
                                  </span>
                                  <span class="alert-message" *ngIf="rows?.at(index).get('freezingRate').hasError('invalidDecimalNo')">
                                    {{'performanceRecording.invalid_value' | translate}}
                                  </span>
                                  <span class="alert-message"
                                    *ngIf="rows?.at(index).get('freezingRate').hasError('max')||rows?.at(index).get('freezingRate').hasError('min')">
                                    {{cmnValidation.minMax | translate}}
                                  </span>
                                  </td>
                                </ng-container>
                               
                              </table>
                            <!-- </form> -->
                            
                          
                         
                          </div>
                          <div class="h-divider additional-info">
                            <div class="shadow"></div>
                        </div>
                        <div class="footer d-flex">
                            <button type="button" class="btn btn-light mr-2 ml-auto"
                          (click)="goBack()"  >
                          {{'animalDetails.back'|translate}} 
                            </button>
                            <button type="submit" class="btn btn-primary" (click)="saveEmbryoDetail()"
                                > {{'common.submit'|translate}} </button>
                           
                        </div>
                        </div>
                      </div>
    
                </div>
            </form>
          
            </div>
            </div>
            </section>
            