.link-text {
  color: #007bff;
  cursor: pointer;
}
.link-text:hover {
  text-decoration: underline;
}

.filter-by {
  position: relative;
}

.filter-by input {
  padding-left: 35px;
}

.filter-by .input-icon-left {
  position: absolute;
  left: 10px;
  top: 10px;
  height: 20px;
  width: 20px;
  opacity: 0.7;
}
