<div class="overlay" *ngIf="isLoadingSpinner">
  <div class="center">
    <mat-spinner class="center"></mat-spinner>
  </div>
</div>

<section class="login-section">
  <div class="login-container">
    <div class="col-md-4 col-sm-12 col-xs-12 left-section bg-color">
      <div class="col-my">
        <div class="login-heading mb-2 text-center">
          <p class="login-title mb-2">Forgot Password</p>
        </div>
        <form
          [formGroup]="forgotForm"
          (ngSubmit)="onForgot()"
          autocomplete="off"
        >
          <div class="form-group">
            <label for="userId" class="label-color"
              >User ID<span class="mandatory-field">*</span></label
            >
            <input
              type="text"
              class="form-control"
              id="userId"
              placeholder="Enter User ID"
              name="userId"
              formControlName="userId"
              required
              autocomplete="off"
              minlength="4"
              maxlength="20"
            />
            <div
              *ngIf="
                (!f.userId.pristine && f.userId.invalid) ||
                f.userId.touched
              "
              class="alert-message"
            >
              <div *ngIf="f.userId.errors?.required">
                Please enter a valid user Id.
              </div>
              <div *ngIf="f.userId.errors?.pattern">
                User Id should not be less than 4 character.
              </div>
            </div>
          </div>

          <!-- <div class="form-group">
            <label for="dob" class="label-color"
              >Date of Birth<span class="mandatory-field">*</span></label
            >

            <input
              type="text"
              class="form-control"
              id="userId"
              name="dob"
              matInput
              [matDatepicker]="pickerDob"
              [max]="userDob"
              formControlName="dob"
              placeholder="DD/MM/YYYY"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="pickerDob"
              class="date-picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #pickerDob></mat-datepicker>
            <div
              *ngIf="
              (!f.dob.pristine && f.dob.invalid) ||
              f.dob.touched
            "
              class="alert-message"
            >
              <div *ngIf="f.dob.errors?.required">
                Please choose date of birth
              </div>
            </div>
          </div> -->
          <div class="form-group">

            <a for="forgot-password"  class="label-color text-right"
            style="float: right; text-decoration: underline; cursor: pointer;" 
            routerLink="/auth/login">Back to Login</a>
          </div>
          <button
            class="login-signup-button btn btn-dark mb-2"
            [disabled]="forgotForm.invalid"
            mat-button
            type="submit"
          >
            Submit
          </button>
        </form>
      </div>
    </div>
  </div>
</section>
