<div class="row justify-content-center align-items-center mb-3">
  <div class="text-center">
      <h2><b>{{data?.message}}</b></h2>
      <h4><i><small>Owner account has been successfully created.</small></i></h4>
  </div>
</div>

<div class="row justify-content-center align-items-center mb-3">
  <div class="dialog-close">
      <button type="button" class="btn btn-outline-primary" mat-dialog-close>Cancel</button>
      <button type="button" class="btn btn-primary" [mat-dialog-close]="true">ok</button>
    </div>
  
</div>