<!-- section breadcum -->
<div class="container p-0">
  <div class="row breadcum align-items-center py-2">
    <div class="col-12">
      <div class="breadcrumb-list">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb m-0">
            <li class="breadcrumb-item active">
              <a> Home</a>
            </li>
            <li class="breadcrumb-item current">
              <a href="javascript:void(0)">Notification</a>
            </li>
            <li class="breadcrumb-item current">
              <a href="javascript:void(0)">Notification Detail</a>
            </li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<!-- section breadcum End -->

<!-- Motification detail section -->
<section class="notification-detail">
  <div class="row p-0 mb-3">
    <div class="col-md-12">
      <div class="card border-0">
        <div class="card-body">
          <div class="report-header">
            <p class="notif-detail-heading">
              <span class="notif-detail-title">Vaccination Campaign</span>
              <span class="badge badge-pill list-category"
                >Category : Health</span
              >
            </p>
            <p class="notif-detail-date">Today, 22-09</p>
            <p class="notif-detail-desc mt-3">
              A new vaccination campaign is about to start on 10-10-2022 in Ambe
              village, Bihar. The campaign will run for 3 days and the team will
              target 3 villages.
            </p>
          </div>
          <div class="detail-day">
              <h3 class="notif-detail-title mt-4">3 Days Itinerary for the Vaccination</h3>
              <ul class="notif-list">
                 <p class="notif-list-heading mb-2 mt-4">Day 1</p> 
                  <li >
                    <div class="list-details">
                      Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo Inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                    </div>
                   </li>
                   <li >
                    <div class="list-details">
                      Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo Inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                    </div>
                   </li>
                   <li >
                    <div class="list-details">
                      Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo Inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                    </div>
                   </li>                 
              </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Motification detail section End -->
