.notification-detail .notif-list .list-details {
  margin-left: 20px;
}

.notification-detail .notif-detail-heading .notif-detail-title {
  color: #3c3c3c;
  font-size: 16px;
  font-weight: bold;
}

.notification-detail .notif-detail-date {
  color: #b2b2b2;
  font-size: 12px;
}

.notification-detail .notif-detail-desc {
  color: #545454;
  font-size: 14px;
}

.notification-detail .notif-detail-heading .list-category {
  color: #333333;
  background-color: #f6f6f9;
  margin-left: 10px;
  padding: 8px 10px;
  font-size: 12px;
}

.notification-detail .detail-day .notif-detail-title {
  color: #3c3c3c;
  font-size: 16px;
  font-weight: bold;
}

.notification-detail .detail-day .notif-list-heading {
  color: #3c3c3c;
  font-size: 12px;
  font-weight: bold;
}

.notification-detail .detail-day .notif-list .list-details {
  color: #545454;
  font-size: 14px;
}

.list-item::after {
  content: "";
  border-bottom: 2px solid #d2d2d2;
  width: 100%;
  margin: 6px 15px;
}

.notif-list li {
  list-style-type: none;
  position: relative;
  color: black;
  margin-bottom: 10px;
}
.notif-list li::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #888888;
}