<div class="overlay" *ngIf="isLoadingSpinner">
    <div class="center">
      <mat-spinner class="center"></mat-spinner>
    </div>
  </div>
  
  <section class="login-section">
    <div class="login-container">
      <div class="col-md-4 col-sm-12 col-xs-12 left-section bg-color">
        <div class="col-my">
          <div class="login-heading mb-2 text-center">
            <p class="login-title mb-2">Forgot Password</p>
          </div>
          <form
            [formGroup]="forgotForm"
            (ngSubmit)="onForgot()"
            autocomplete="off"
          >
            <div class="form-group">
              <label for="newPassword" class="label-color"
                >New Password<span class="mandatory-field">*</span></label
              >
              <span class="password_view_icon">
                <mat-icon matSuffix (click)="cphide = !cphide">{{cphide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </span>
              <input
              [type]="cphide ? 'password' : 'text'" formControlName="newPassword" id="newPassword" 
              #passwordmessage maxlength="15" minlength="8"
              id="newPassword" matInput placeholder="New Password" autocomplete="off" required 
               
                class="form-control"
                
                
              />
              <span *ngIf="!forgotForm.get('newPassword').valid && forgotForm.get('newPassword').touched" class="validation-error-message">
                <span *ngIf="forgotForm.get('newPassword').errors?.['required']" class="validation-error-message">
                  Please Enter Valid New Password
                </span>
                <span *ngIf="forgotForm.get('newPassword').errors?.['pattern']" class="validation-error-message">
                  Password should contain at least One capital letter, One digit and at least One special characters .
                </span>

                <span *ngIf="forgotForm.get('newPassword').errors?.['minlength']" class="help-block">
                  Password can not be less than 8
                </span>
                <span *ngIf="forgotForm.get('newPassword').value?.length>=15" class="validation-error-message">
                  Password should not be more than 15 character.
                </span>
              </span>
            </div>
  
            <div class="form-group">
              <label for="reEnterPassword" class="label-color"
                >Re-Enter Password<span class="mandatory-field">*</span></label
              >
              <span class="password_view_icon">
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </span>
              <input
              [type]="hide ? 'password' : 'text'"
                formControlName="reEnterPassword" id="reEnterPassword" matInput
              placeholder="Re-enter your New Password" autocomplete="off" required
                class="form-control"
                formControlName="reEnterPassword"
              
              />
              <div class="validation-error-message"
              *ngIf="(forgotForm.get('reEnterPassword').touched || forgotForm.get('reEnterPassword').dirty) && !forgotForm.get('reEnterPassword').valid">
              <span *ngIf="forgotForm.get('reEnterPassword').errors?.required" class="validation-error-message">
                Please Enter Valid Confirm new password
              </span>
              <span *ngIf="forgotForm.get('reEnterPassword').errors?.compare" class="validation-error-message">
                The password and Confirm password do not match.
              </span>
            </div>
         
            </div>







            <div class="form-group">
  
              <a for="forgot-password"  class="label-color text-right"
              style="float: right; text-decoration: underline; cursor: pointer;" 
              routerLink="/auth/login">Back to Login</a>
            </div>
            <button
              class="login-signup-button btn btn-dark mb-2"
              [disabled]="forgotForm.invalid"
              mat-button
              type="submit"
            >
              Submit
            </button>
          </form>
        </div>
      </div>
    </div>
  </section>
  