<div class="overlay" *ngIf="isLoadingSpinner">
  <div class="center">
    <mat-spinner class="center"></mat-spinner>
  </div>
</div>

<!-- section breadcum -->
<div class="container p-0">
  <div class="row breadcum align-items-center py-2">
    <div class="col-12">
      <div class="breadcrumb-list">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb m-0">
            <li routerlink="/dashboard" class="breadcrumb-item active">
              <a href="javascript:void(0)"> {{'common.breadcrumb_home' | translate}}</a>
            </li>
            <li class="breadcrumb-item current">
              <label>{{'fir.animal_health' | translate}}</label>
            </li>
            <li class="breadcrumb-item current">
              <label>{{'fir.fir_incidence_report' | translate}}</label>
            </li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<!-- section breadcum -->

<section class="intimation-report">
  <div class="row p-0 mb-3">
    <div class="col-md-12">
      <div class="card border-0">
        <div class="card-body">
          <!-- report-header -->

          <div class="report-header">
            <span class="d-flex align-items-center">
              <i class="fa fa-chevron-left mr-2 back-section" [routerLink]="['..']"></i>
              <p class="muted-label-heading">{{'fir.first_incidence_report_details' | translate}}</p>
            </span>


            <!-- horizontal-seprator -->
            <div class="h-divider">
              <div class="shadow"></div>
            </div>
          </div>

          <!-- report detail -->
          <div class="report-detail mb-3">
            <div class="report-list">
              <div class="col-md-8 border-right">
                <div class="report-section">
                  <span>{{'fir.selected_report_ids' | translate}}:</span>
                  <ul class="report-list--item list-inline">
                    <li>{{ reportsDetails }}</li>
                  </ul>
                </div>
              </div>
              <div class="col-md-4">
                <div class="report-section">
                  <span>{{'common.village_name' | translate}}:</span>
                  <ul class="report-list--item list-inline">
                    <li *ngFor="let data of this.CSVOf_arrVillage">{{ data[1] }}</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!-- feedback -->
          <!-- <div id="feedback">
            <div class="accordion" id="faq">
              <div class="card">
                <div class="card-header" id="faqhead1">
                  <a href="#" class="btn btn-header-link" data-toggle="collapse" data-target="#faq1"
                    aria-expanded="true" aria-controls="faq1">
                    <svg viewBox="0 0 24 24" width="20" height="20" class="mr-2">
                      <path fill="none" d="M0 0h24v24H0z" />
                      <path
                        d="M6.455 19L2 22.5V4a1 1 0 0 1 1-1h18a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H6.455zM11 13v2h2v-2h-2zm0-6v5h2V7h-2z" />
                    </svg>CVO
                    Remarks</a>
                </div>

                <div id="faq1" class="collapse show" aria-labelledby="faqhead1" data-parent="#faq">
                  <div class="card-body">
                    <div class="comment-section">
                      1. "Waiting for Lab report.."
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div> -->

          <!-- report-content -->
          <div class="report-content mt-3">
            <form [formGroup]="intimationForm" (ngSubmit)="submitInterimReport()">
              <div class="form-row">
                <div class="form-group col-lg-3 col-md-6">
                  <label for="firstIncidenceReportingDate" class="form-label">{{'fir.data_entry_date_of_first_incidence'
                    | translate}}
                    <span class="mandatory-field">*</span></label>
                  <input type="text" class="form-control" formControlName="firstIncidenceReportingDate"
                    #firstIncidenceReportingDate />

                </div>
                <div class="form-group col-lg-3 col-md-6 icon-input">
                  <label for="firstIncidenceDate" class="form-label">{{'fir.date_of_first_incidence' | translate}}
                    <span class="mandatory-field">*</span></label>
                  <input type="text" class="form-control" [min]="minDate" [max]="maxDate" [matDatepicker]="pickerDate"
                    formControlName="firstIncidenceDate" />
                  <mat-datepicker-toggle matSuffix [for]="pickerDate" class="picker"></mat-datepicker-toggle>
                  <mat-datepicker #pickerDate></mat-datepicker>
                  <span class="alert-message" *ngIf="
                  (formControls.firstIncidenceDate.dirty &&
                    formControls.firstIncidenceDate.invalid) ||
                  formControls.firstIncidenceDate.touched
                ">
                    <span *ngIf="formControls.firstIncidenceDate.hasError('matDatepickerMin')">
                      {{'animalTreatmentSurgery.please_enter_valid_date' | translate}}
                    </span>
                    <span *ngIf="formControls.firstIncidenceDate.hasError('matDatepickerMax')">
                      {{'animalTreatmentSurgery.please_enter_valid_date' | translate}}
                    </span>
                    <span *ngIf="formControls.firstIncidenceDate.hasError('matDatepickerParse')">
                      {{'animalTreatmentSurgery.please_enter_valid_date' | translate}}
                    </span>
                    <span
                      *ngIf="formControls.firstIncidenceDate.hasError('required') && !formControls.firstIncidenceDate.hasError('matDatepickerParse')">
                      {{ validationMsg.required | translate }}
                    </span>
                  </span>
                </div>
                <div class="form-group col-lg-6 col-md-12">
                  <label for="reportedBy">{{'fir.reported_by' | translate}}</label>
                  <input type="text" class="form-control" id="reportedBy" formControlName="reportedBy" />
                  <span class="alert-message" *ngIf="
                      intimationForm.controls.reportedBy.hasError('maxlength')
                    ">
                    {{ validationMsg.reportedByLength | translate }}
                  </span>
                  <span *ngIf="intimationForm.controls.reportedBy.hasError('pattern')">
                    {{ validationMsg.invalidChar | translate }}
                  </span>
                </div>
              </div>

              <!-- Symptoms & Disease section starts-->
              <div class="form-row">
                <div class="col-12 ">
                  <mat-accordion class="examination-expansion-panel" togglePosition="before">
                    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" multi>
                      <mat-expansion-panel-header class="p-0">
                        <mat-panel-title class="mobile-title-heading">
                          <div class="separator">
                            <div>{{'fir.symptoms_disease' | translate}}</div>
                            <div class="line"></div>
                          </div>
                        </mat-panel-title>
                      </mat-expansion-panel-header>

                      <!-- clinical signs -->
                      <div class="row symt-details">
                        <div class="form-group col-md-6 symt-details-left">
                          <div class="clinical-signs mb-3">
                            <label for="clinicalSigns" class="form-label">{{'fir.notable_clinical_signs' |
                              translate}}<span class="mandatory-field">*</span></label>
                            <ng-select class="custom" appendTo="body" [items]="symptoms" [multiple]="true"
                              bindLabel="symptomDesc" groupBy="selectedAllGroup" [selectableGroup]="true"
                              [selectableGroupAsModel]="false" placeholder="Search by keywords" [closeOnSelect]="false"
                              formControlName="symptomDetail">
                              <!-- <ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
                                <input id="item-{{ index }}" type="checkbox" [checked]="item$.selected" />
                                Select All
                              </ng-template> -->
                              <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                <div class="d-flex justify-content-between">
                                  <span>{{ item.symptomDesc }}</span>
                                  <span class="add-medicine-btn" *ngIf="
                                              !checkSymptomSelected(item);
                                              else removeSymptom
                                            ">
                                    <i class="fa fa-plus mr-2" aria-hidden="true">
                                    </i>
                                    {{'common.add' | translate}}
                                  </span>
                                  <ng-template #removeSymptom>
                                    <span class="add-medicine-btn">
                                      <i class="fa fa-minus mr-2" aria-hidden="true">
                                      </i>
                                      {{'diseaseTesting.remove' | translate}}
                                    </span>
                                  </ng-template>
                                </div>
                              </ng-template>
                            </ng-select>
                            <span class="alert-message" *ngIf="isControlValid('symptomDetail')">
                              {{ validationMsg.required | translate }}
                            </span>
                          </div>

                          <div class="symptom-list mb-2">
                            <mat-chip-list>
                              <mat-chip class="w-20" *ngFor="
                                  let symptom of intimationForm.controls
                                    .symptomDetail.value;
                                  let i = index
                                ">
                                {{ symptom?.symptomDesc }}
                                <i (click)="removeSelectedSymptom(i)" class="fa fa-close mx-2" aria-hidden="true"></i>
                              </mat-chip>
                            </mat-chip-list>
                          </div>

                          <div class="mb-2">
                            <span class="other-symptoms" (click)="toggleOtherSymptoms()">
                              <span *ngIf="!otherSymptomsFlag; else othersymptoms">+</span>
                              <ng-template #othersymptoms>-</ng-template>
                              <span class="os-desc">{{'fir.other_symptoms' | translate}}</span>
                            </span>
                          </div>
                          <ng-container *ngIf="otherSymptomsFlag" formArrayName="otherSymptoms">
                            <div [formGroupName]="i" class="mb-2 form-row align-items-start" *ngFor="
                                        let controls of otherSymptomsControls;
                                        let i = index
                                      ">
                              <div class="col-md">
                                <input type="text" placeholder="Enter symptom name" class="form-control"
                                  formControlName="name" />
                                <div class="alert-message">
                                  <span
                                    *ngIf="controls.get('name').touched && controls.get('name').hasError('required')">
                                    {{validationMsg.required | translate }} </span>
                                  <span *ngIf="controls.get('name').dirty && controls.get('name').hasError('pattern')">
                                    {{ validationMsg.invalidChar | translate }} </span>
                                </div>
                              </div>
                              <div class="col-md ">
                                <div class="d-flex align-items-center">
                                  <input type="text" placeholder="Enter remarks" class="form-control"
                                    formControlName="remark" />
                                  <div class="ml-2" (click)="onRemoveOtherSymptom(i)">
                                    <i class="fa fa-trash-o"></i>
                                  </div>
                                </div>

                                <div class="alert-message"
                                  *ngIf="controls.get('remark').dirty && controls.get('remark').hasError('pattern')">
                                  {{ validationMsg.invalidChar | translate }}

                                </div>
                              </div>
                            </div>
                            <div class="add-row">
                              <span class="add-row--btn" (click)="addOtherSymptoms()">
                                <i aria-hidden="true" class="fa fa-plus add-row--icon"></i><b
                                  class="">{{'campaignCreation.add_row' | translate}}</b>
                              </span>
                            </div>
                          </ng-container>
                        </div>

                        <!--Disease Suspected section  -->
                        <div class="form-group col-md-6 symt-details-right">
                          <div class="clinical-signs mb-3">
                            <label for="diseaseSuspected" class="form-label">{{'diseaseTesting.disease_suspected' |
                              translate}}</label>
                            <ng-select class="custom" appendTo="body" [items]="diseases" [multiple]="true"
                              bindLabel="diseaseDesc" groupBy="type" [selectableGroup]="false"
                              [selectableGroupAsModel]="false" [closeOnSelect]="false" placeholder="Select disease name"
                              formControlName="diseaseDetail">
                              <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                <div class="d-flex justify-content-between">
                                  <span>{{ item.diseaseDesc }}</span>
                                  <span class="add-medicine-btn" *ngIf="
                                              !checkDiseaseSelected(item);
                                              else removeDisease
                                            "><i class="fa fa-plus mr-2" aria-hidden="true"></i>{{'common.add' |
                                    translate}}</span>
                                  <ng-template #removeDisease>
                                    <span class="add-medicine-btn">
                                      <i class="fa fa-minus mr-2" aria-hidden="true">
                                      </i>
                                      {{'diseaseTesting.remove' | translate}}
                                    </span>
                                  </ng-template>
                                </div>
                              </ng-template>
                            </ng-select>
                          </div>

                          <div class="symptom-list mb-2" *ngIf="
                          formControls.diseaseDetail?.value?.length
                        ">
                            <mat-chip-list>
                              <mat-chip *ngFor="
                                  let disease of formControls
                                  .diseaseDetail.value;
                                  let i = index
                                ">
                                {{ disease?.diseaseDesc }}
                                <i class="fa fa-close mx-2" aria-hidden="true" (click)="removeSelectedDisease(i)">
                                </i>
                              </mat-chip>
                            </mat-chip-list>
                          </div>

                          <div class="mb-2">
                            <span class="other-symptoms" (click)="toggleOtherDiseases()">
                              <span *ngIf="!otherDiseasesFlag; else otherdiseases">+</span>
                              <ng-template #otherdiseases>-</ng-template>
                              <span class="os-desc"> {{'fir.other_diseases' | translate}}</span>
                            </span>
                          </div>
                          <ng-container *ngIf="otherDiseasesFlag" formArrayName="otherDiseases">
                            <div [formGroupName]="i" class="mb-2 form-row " *ngFor="
                                let controls of otherDiseasesControls;
                                let i = index
                              ">
                              <div class="col-md ">
                                <input type="text" placeholder="Enter disease name" class="form-control"
                                  formControlName="name" />
                                <div class="alert-message">
                                  <span *ngIf="controls.get('name').dirty && controls.get('name').hasError('pattern')">
                                    {{ validationMsg.invalidChar | translate }} </span>
                                </div>
                              </div>
                              <div class="col-md ">
                                <div class="d-flex align-items-center">
                                  <input type="text" placeholder="Enter remark" class="form-control"
                                    formControlName="remark" maxLength="150" />

                                  <div class="ml-2 " (click)="onRemoveOtherDisease(i)">
                                    <i aria-hidden="true" class="fa fa-trash-o icon-pointer"></i>
                                  </div>
                                </div>

                                <div class="alert-message">
                                  <span
                                    *ngIf="controls.get('remark').dirty && controls.get('remark').hasError('pattern')">
                                    {{ validationMsg.invalidChar | translate }} </span>
                                </div>
                              </div>
                            </div>
                            <div class="add-row">
                              <span class="add-row--btn" (click)="addOtherDiseases()">
                                <i aria-hidden="true" class="fa fa-plus add-row--icon"></i><b
                                  class="">{{'campaignCreation.add_row' | translate}}</b>
                              </span>
                            </div>
                          </ng-container>
                        </div>
                      </div>
                    </mat-expansion-panel>
                  </mat-accordion>
                </div>
              </div>
              <!-- Symptoms & Disease section ends-->

              <!-- Affected Animal Details section starts-->
              <div class="form-row">
                <div class="col-12 ">
                  <mat-accordion class="examination-expansion-panel" [togglePosition]="'before'">
                    <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" multi>
                      <mat-expansion-panel-header class="p-0">
                        <mat-panel-title class="mobile-title-heading">
                          <div class="separator">
                            <div>{{'fir.affected_animal_details' | translate}}</div>
                            <div class="line"></div>
                          </div>
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                      <div class="row symt-details">
                        <!-- table view -->
                        <div class="form-group col-lg-6 col-md-12">
                          <div class="table-responsive mb-3">
                            <table mat-table [dataSource]="affectedAnimalDataSource" formArrayName="speciesImpacted"
                              class="symt-details-table mat-elevation-z8">
                              <!-- Position Column -->
                              <ng-container matColumnDef="speciesCd">
                                <th mat-header-cell *matHeaderCellDef>
                                  {{'fir.affected_species' | translate}}<span class="mandatory-field">*</span>
                                </th>
                                <td mat-cell *matCellDef="let element; let index = index" [formGroupName]="index">
                                  <mat-select formControlName="speciesCd"
                                    (selectionChange)="onSpeciesSelected($event,index)">
                                    <mat-option [value]="species.cd" *ngFor="let species of speciesMaster">
                                      {{ species.value }}</mat-option>
                                  </mat-select>
                                  <div class="alert-message" *ngIf="
                                element.get('speciesCd').touched &&
                                element.get('speciesCd').hasError('required')
                              ">
                                    {{'fir.affected_species_is_required' | translate}}
                                  </div>
                                </td>
                              </ng-container>

                              <ng-container matColumnDef="noOfAnimals">
                                <th mat-header-cell *matHeaderCellDef>
                                  {{ "fir.no_of_animals_affected" | translate
                                  }}<span class="mandatory-field">*</span>
                                </th>
                                <td mat-cell *matCellDef="let element; let index = index" [formGroupName]="index">
                                  <input type="text" min="0" class="form-control table-input"
                                    formControlName="noOfAnimals"
                                    onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))" />

                                  <div class="alert-message" *ngIf="
                                      (element.get('noOfAnimals').dirty ||
                                        element.get('noOfAnimals').touched) &&
                                      element.get('noOfAnimals').invalid
                                    ">
                                    <span *ngIf="
                                        element
                                          .get('noOfAnimals')
                                          .hasError('maxlength')
                                      ">
                                      {{
                                      "intimation.animals_affected_cannot_be_more_than_6_characters"
                                      | translate
                                      }}
                                    </span>

                                    <span *ngIf="
                                        element
                                          .get('noOfAnimals')
                                          .hasError('required')
                                      ">
                                      {{
                                      validationMsg.affectedAnimals
                                      | translate
                                      }}
                                    </span>
                                    <span *ngIf="
                                        element
                                          .get('noOfAnimals')
                                          .hasError('pattern')
                                      ">
                                      {{
                                      "animalHealthValidations.postMortem.decimalValidation"
                                      | translate
                                      }}
                                    </span>
                                  </div>
                                </td>
                              </ng-container>

                              <ng-container matColumnDef="noOfAnimalsDied">
                                <th mat-header-cell *matHeaderCellDef>
                                  {{'fir.no_of_animals_died' | translate}}
                                </th>
                                <td mat-cell *matCellDef="let element; let index = index" [formGroupName]="index"
                                  class="cell-width">
                                  <input type="text" min="0" class="form-control table-input"
                                    formControlName="noOfAnimalsDied" onkeypress="return (event.charCode !=8 &&
                                     event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))" />
                                  <div class="alert-message" *ngIf="
                                   (element.get('noOfAnimalsDied').dirty ||
                                     element.get('noOfAnimalsDied')
                                       .touched) &&
                                   element.get('noOfAnimalsDied').invalid
                                 ">
                                    <span *ngIf="
                                     element
                                       .get('noOfAnimalsDied')
                                       .hasError('maxlength')
                                   ">
                                      {{
                                      "intimation.animals_affected_cannot_be_more_than_6_characters"
                                      | translate
                                      }}
                                    </span>

                                    <span *ngIf="
                                     element
                                       .get('noOfAnimalsDied')
                                       .hasError('pattern')
                                   ">
                                      {{
                                      "animalHealthValidations.postMortem.decimalValidation"
                                      | translate
                                      }}
                                    </span>
                                  </div>
                                </td>
                              </ng-container>
                              <ng-container matColumnDef="action">
                                <th mat-header-cell *matHeaderCellDef></th>
                                <td mat-cell *matCellDef="let element; let index = index">
                                  <i aria-hidden="true" class="fa fa-trash-o icon-pointer"
                                    (click)="removeAffectedAnimalElement(index)"></i>
                                </td>
                              </ng-container>
                              <tr class="action-link table-head" mat-header-row *matHeaderRowDef="
                                  affectedAnimalDisplayedColumns
                                "></tr>
                              <tr class="action-link table-head" mat-row *matRowDef="
                                  let row;
                                  columns: affectedAnimalDisplayedColumns
                                "></tr>
                              <tr class="mat-row" *matNoDataRow>
                                <td class="mat-cell text-center" [attr.colspan]="
                                    affectedAnimalDisplayedColumns.length
                                  ">
                                  {{'diseaseTesting.no_data_matching_the_filter' | translate}}
                                </td>
                              </tr>
                            </table>
                          </div>
                          <span class="validation-error-message" *ngIf="isShowError">
                            {{ isShowError }}
                          </span>
                          <div class="add-row">
                            <span class="add-row--btn" (click)="addAffectedAnimalRow()">
                              <i aria-hidden="true" class="fa fa-plus add-row--icon"></i><b class="">{{
                                "campaignCreation.add_row" | translate}}</b>
                            </span>
                          </div>
                        </div>
                        <div class="form-group col-lg-6 col-md-12">
                          <!-- Animal Tag ID section -->
                          <div class="row">
                            <div class="form-group col-md-6">
                              <div class="clinical-signs">
                                <div class="tag-id">
                                  <label for="animalTag" class="form-label">{{'diseaseTesting.animal_tag_id' |
                                    translate}}</label>

                                </div>
                              </div>
                            </div>


                            <div class="col-md-12">
                              <div class="symptom-list mb-2">
                                <div *ngIf="affectedAnimalsMaster == 0">
                                  <h3>
                                    {{'fir.no_affected_animals_found' | translate}}
                                  </h3>
                                </div>
                                <mat-chip-list>

                                  <mat-chip *ngFor="
                                    let tag of affectedAnimalsMaster;
                                    let i = index">
                                    {{ tag.tagId }}
                                    <i class="fa fa-close mx-2" aria-hidden="true" (click)="removeAffectedAnimals(i)">
                                    </i>
                                  </mat-chip>
                                </mat-chip-list>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>



                      <div class="h-divider">
                        <div class="shadow"></div>
                      </div>

                      <!-- image section -->
                      <div class="form-container row">
                        <div class="form-group col-md-6">
                          <label for="uploadFile" class="form-label">{{'fir.upload_images' | translate}}</label>
                          <div for="uploadFile" class="drag-area" appDragAndDrop #drop="appDragAndDrop"
                            (fileDropped)="handleFiles($event)" (click)="onFileAreaClick(fileInput)"
                            [isDisabled]="isUploading()">
                            <div class="icon">
                              <i class="fa fa-cloud-upload"></i>
                            </div>
                            <p *ngIf="!drop.fileOver&& !isUploading()">
                              {{'fir.drag_drop_files_here' | translate}} <b>{{'fir.browse' | translate}}</b>
                            </p>
                            <p *ngIf="drop.fileOver&& !isUploading()">{{'fir.release_to_upload' | translate}}</p>
                            <p *ngIf="isUploading()">{{'fir.uploading_files' | translate}}</p>

                            <input [disabled]="isUploading()" type="file" multiple id="uploadFile" hidden #fileInput
                              (change)="onFileInputChange($event)" />
                          </div>
                          <span class="validation-error-message" *ngIf="f.animalImages.hasError('invalidMimeType')">
                            {{'fir.only_type_files_are_allowed' | translate}}
                          </span>
                        </div>
                        <div class="col-md-6 form-group">
                          <div class="files-list">
                            <div *ngIf="isUploading()" class="mb-2">{{'fir.uploading' | translate}}</div>
                            <div class="single-file"
                              *ngFor="let file of uploadedMedia; let i = index; let first = first">
                              <div class="file-icon">
                                <i class="fa fa-image"></i>
                              </div>
                              <div class="info">
                                <div class="row first-row">
                                  <h4 class="col-6 name">
                                    {{ file.fileName }}
                                  </h4>
                                  <p class="col-4 size">
                                    {{
                                    file.fileSize
                                    }}
                                  </p>
                                  <div class="col-2 delete" (click)="deleteFile(i)">
                                    <i class="fa" [ngClass]="{
                                        'fa-close': !file.uploaded,
                                        'fa-trash': file.uploaded
                                      }"></i>
                                  </div>
                                </div>
                                <ng-container *ngIf="!file.uploaded">
                                  <div class="second-row">
                                    <div class="progress" style="height: 2px">
                                      <div class="progress-bar" [style.width.%]="file.fileProgress"></div>
                                    </div>
                                  </div>
                                  <div class="third-row">
                                    <span class="upload-percent">{{ file.fileProgress }}% {{'common.done' |
                                      translate}}</span>
                                    <!-- <span class="upload-speed">300 kb/s</span> -->
                                  </div>
                                </ng-container>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </mat-expansion-panel>
                  </mat-accordion>
                </div>
              </div>
              <!-- Affected Animal Details section ends-->

              <!-- Other Details Section starts-->
              <div class="form-row">
                <div class="col-12 ">
                  <mat-accordion class="examination-expansion-panel" [togglePosition]="'before'">
                    <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)" multi>
                      <mat-expansion-panel-header class="p-0">
                        <mat-panel-title class="mobile-title-heading">
                          <div class="separator">
                            <div>{{'animalDetails.other_details' | translate}}</div>
                            <div class="line"></div>
                          </div>
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                      <div class="form-row">
                        <div class="form-group col-md-4">
                          <label for="sourceOfInfectionCd" class="form-label">{{'fir.probable_source_of_infection' |
                            translate}}
                            <span class="mandatory-field">*</span>
                          </label>
                          <ng-select appendTo="body" class="custom" bindLabel="value"
                            placeholder="Select Probable Source of Infection" [searchable]="true" [clearable]="true"
                            id="sourceOfInfectionCd" formControlName="sourceOfInfectionCd">
                            <ng-option *ngFor="let data of getProSource" [value]="data.cd">
                              {{ data.value }}
                            </ng-option>
                          </ng-select>
                          <!--
                          <div *ngIf="
                              (f.sourceOfInfectionCd.touched ||
                              intimationForm) &&
                              f.sourceOfInfectionCd.errors
                            " class="invalid-feedback">
                            <div *ngIf="f.sourceOfInfectionCd.errors.required">
                              Probable source of infection required
                            </div>
                          </div> -->
                          <span class="alert-message" *ngIf="isControlValid('sourceOfInfectionCd')">
                            {{ validationMsg.required | translate }}
                          </span>



                        </div>
                        <div class="form-group col-md-8">
                          <label for="controls" class="form-label">{{'fir.controls_action_taken' | translate}}<span
                              class="mandatory-field">*</span></label>
                          <ng-select appendTo="body" class="custom" [items]="controls" [multiple]="true"
                            bindLabel="actionTakenDesc" groupBy="selectedAllGroup" [selectableGroup]="true"
                            [selectableGroupAsModel]="false" [closeOnSelect]="false"
                            placeholder="Select Controls/Action taken" formControlName="actionTakenList">
                            <ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
                              <input id="item-{{ index }}" type="checkbox" [checked]="item$.selected" />
                              {{"campaignCreation.select_all" | translate}}
                            </ng-template>

                            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                              <input class="mr-2" id="item-{{ index }}" type="checkbox" [checked]="item$.selected" />{{
                              item.actionTakenDesc }}
                            </ng-template>
                          </ng-select>
                          <span class="alert-message" *ngIf="isControlValid('actionTakenList')">
                            {{ validationMsg.required | translate }}
                          </span>
                        </div>
                      </div>
                      <div class="other-detail--col">
                        <div class="form-row">
                          <div class="col-lg-5 col-md-6 mb-md-2">
                            <div class="other-detai--item">
                              <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" id="diseaseSuspected" value='D'
                                  formControlName="diseaseSuspected" />
                                <label class="form-check-label"
                                  for="diseaseSuspected">{{'diseaseTesting.disease_suspected' | translate}}</label>
                              </div>
                              <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" id="labConfirmed"
                                  formControlName="diseaseSuspected" value="L" />
                                <label class="form-check-label" for="labConfirmed">{{'fir.lab_confirmed' |
                                  translate}}</label>
                              </div>
                            </div>
                          </div>
                          <div class="col-lg-3 col-md-6 mb-md-2">
                            <div class="other-detai--item">
                              <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="vaccinationDone"
                                  formControlName="vaccinationDone" />
                                <label class="form-check-label" for="vaccinationDone">{{'fir.vaccination_done' |
                                  translate}}</label>
                              </div>
                            </div>
                          </div>
                          <div class="col-lg-4 col-md-6 mb-md-2">
                            <div class="other-detai--item">
                              <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="publicHealthDisease"
                                  formControlName="publicHealthDisease" />
                                <label class="form-check-label"
                                  for="publicHealthDisease">{{'fir.disease_of_public_health_importance' |
                                  translate}}</label>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="form-row" *ngIf="
                          intimationForm.get('final_report')?.value == 'no'
                        ">
                        <div class="col-md-12">
                          <div class="mt-4">
                            <div class="separator mb-2">
                              <div class="sample-lab-testing">
                                <span class="mr-2"><b>{{'diseaseTesting.sample_for_lab_testing' | translate}}</b></span>
                                <div class="form-check-inline">
                                  <label class="form-check-label">
                                    <input type="radio" class="form-check-input"
                                      formControlName="sample_for_lab_testing_flag" value="yes" />{{'diseaseTesting.yes'
                                    | translate}}
                                  </label>
                                </div>
                                <div class="form-check-inline">
                                  <input type="radio" class="form-check-input"
                                    formControlName="sample_for_lab_testing_flag" value="no" />
                                  <label class="form-check-label">{{'diseaseTesting.no' | translate}}</label>
                                </div>
                              </div>
                              <div class="line"></div>
                            </div>
                            <div class="testing-details" *ngIf="
                                intimationForm.get(
                                  'sample_for_lab_testing_flag'
                                )?.value == 'yes'
                              ">
                              <div class="clicking-sample mb-3">
                                <span>
                                  {{'fir.enter_sample_details_by_clicking' | translate}}
                                  <span class="click-hyper" (click)="openDiseaseTestingDialog()">
                                    {{'diseaseTesting.disease_testing' | translate}}
                                  </span>
                                </span>
                              </div>

                              <div class="sample-collected-result ">
                                <div class="col-md-12">

                                  <!-- <h3 *ngIf="dataSourceSampleCollection.data.length == 0">
                                    No Sample Data Found
                                  </h3> -->
                                  <div class="table-responsive table-scroll"
                                    *ngIf="dataSourceSampleCollection.data.length > 0">
                                    <table class="table table-bordered">
                                      <thead class="disease-header">
                                        <tr class="disease-header-row">
                                          <th class="main-col">{{'animalDetails.tag_id' | translate}}</th>
                                          <th class="main-col">{{'performanceRecording.sample_id' | translate}}</th>
                                          <th class="main-col">{{'diseaseTesting.sample_type' | translate}}</th>
                                          <th class="main-col">{{'performanceRecording.examination_type' | translate}}
                                          </th>
                                          <th class="main-col">{{'performanceRecording.result' | translate}}</th>
                                        </tr>
                                      </thead>
                                      <tbody class="disease-content">
                                        <!-- main table body -->
                                        <ng-container *ngFor="let data of  this.diseaseJson; let sampleFirst = first">
                                          <ng-container
                                            *ngFor="let lab of data.labTestingRequestDtos; let labFirst=first">
                                            <tr
                                              *ngFor="let exam of lab.sampleExaminationDetails; let examFirst = first">
                                              <td *ngIf="labFirst && examFirst "
                                                [attr.rowspan]="data['examinationCount']" class="main-col">
                                                {{data.tagId}}
                                              </td>
                                              <td class="main-col-first" *ngIf="examFirst"
                                                [attr.rowspan]="lab.sampleExaminationDetails.length"> {{lab.sampleId ??
                                                "--"}}</td>
                                              <td class="main-col-first" *ngIf="examFirst"
                                                [attr.rowspan]="lab.sampleExaminationDetails.length">
                                                {{lab.sampleTypeDesc}}</td>
                                              <td class="sample-section">
                                                {{exam.sampleExaminationTypeDesc}}
                                              </td>
                                              <td>{{exam.result ?? "--"}}</td>
                                            </tr>
                                          </ng-container>
                                        </ng-container>
                                      </tbody>

                                    </table>
                                  </div>


                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </mat-expansion-panel>
                  </mat-accordion>
                </div>
              </div>

              <!-- Other Details Section Ends -->
              <div class="form-group mt-3">
                <label for="remark">{{ "firstAid.Remarks_fid" | translate }}</label>
                <textarea class="form-control" id="remark" rows="2" formControlName="textArea"></textarea>
                <span class="alert-message" *ngIf="
                    (formControls.textArea.dirty &&
                      formControls.textArea.invalid) ||
                    formControls.textArea.touched
                  ">
                  <span *ngIf="formControls.textArea.hasError('pattern')">
                    {{ validationMsg.invalidChar | translate }}
                  </span>
                </span>
              </div>

              <div class="report-footer-btn">
                <!-- horizontal-seprator -->
                <div class="h-divider">
                  <div class="shadow"></div>
                </div>
                <!-- report-footer--btn -->
                <div class="d-flex justify-content-end mt-3">
                  <button type="button" class="btn btn-outline-primary mr-2" (click)="onResetReport()"
                    [routerLink]="['..']">
                    {{ "animalDetails.cancel" | translate }}
                  </button>
                  <button type="submit" class="btn btn-primary"> {{ "common.submit" | translate }}</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>